Repository vas3k/vas3k.club: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, py-flake8

yamllint:
  name: yamllint
  entry: yamllint --config-file ./.yamllint
  language: system
  always_run: false
  pass_filenames: true

py-flake8:
  name: py-flake8
  entry: flake8 --config setup.cfg
  language: system
  always_run: false
  pass_filenames: true

fix(telegram): resolve AsyncToSync RuntimeError in async bot handlers
  bot/handlers/moderation.py
  helpdeskbot/handlers/answers.py
  helpdeskbot/handlers/question.py
  helpdeskbot/help_desk_common.py
Due: py-flake8

fix(telegram): resolve AsyncToSync RuntimeError in async bot handlers (#1466)
  bot/handlers/moderation.py
  helpdeskbot/handlers/answers.py
  helpdeskbot/handlers/question.py
  helpdeskbot/help_desk_common.py
Due: py-flake8

fix(telegram): fix SyncBot event loop lifecycle causing silent failures
  helpdeskbot/tests.py
  notifications/telegram/bot.py
  notifications/telegram/test_posts.py
  notifications/telegram/test_users.py
  notifications/telegram/tests.py
Due: py-flake8

test(tests): add test ensuring SyncBot works inside an async event loop
  helpdeskbot/tests.py
Due: py-flake8

fix(telegram): fix SyncBot event loop lifecycle causing silent failures (#1467)
  helpdeskbot/tests.py
  notifications/telegram/bot.py
  notifications/telegram/test_posts.py
  notifications/telegram/test_users.py
  notifications/telegram/tests.py
Due: py-flake8

fix(telegram): make SyncBot fork-safe for django-q2 workers
  helpdeskbot/tests.py
  notifications/telegram/bot.py
  notifications/telegram/tests.py
Due: py-flake8

test(telegram): add tests for SyncBot fork-safety and centralize mock server
  helpdeskbot/tests.py
Due: py-flake8

fix(telegram): make SyncBot fork-safe for django-q2 workers (#1468)
  helpdeskbot/tests.py
  notifications/telegram/bot.py
  notifications/telegram/tests.py
Due: py-flake8

fix(telegram): non-blocking AI calls and error handling for moderation
  bot/handlers/llm.py
  bot/handlers/test_llm.py
  notifications/telegram/common.py
  notifications/telegram/posts.py
  notifications/telegram/test_posts.py
  notifications/telegram/test_users.py
  notifications/telegram/users.py
Due: py-flake8

fix(telegram): non-blocking AI calls and error handling for moderation (#1469)
  bot/handlers/llm.py
  bot/handlers/test_llm.py
  notifications/telegram/common.py
  notifications/telegram/posts.py
  notifications/telegram/test_posts.py
  notifications/telegram/test_users.py
  notifications/telegram/users.py
Due: py-flake8

chore: bump python-telegram-bot from 22.6 to 22.7
  Pipfile
  Pipfile.lock
Due: none

chore: bump python-telegram-bot from 22.6 to 22.7 (#1470)
  Pipfile
  Pipfile.lock
Due: none

fix: bot chat search
  ai/tools.py
  notifications/telegram/templates/messages/good_morning.html
Due: py-flake8

fix: search_chats
  ai/tools.py
Due: py-flake8

rewrite missing contact text
  notifications/telegram/templates/messages/rejected/data.html
Due: none

refactor(api): extract auth and serialization from @api decorator, fix auth bypass
  authn/decorators/api.py
  authn/models/openid.py
  authn/tests.py
  frontend/static/js/common/api.service.js
Due: py-flake8

chore: bump Django from 5.1.13 to 5.1.15
  Pipfile
  Pipfile.lock
Due: none

fix: removal script
  rooms/management/commands/remove_expired_users_from_chat.py
Due: py-flake8

feat: remove vas3kpaybot, mock yookassa
  Pipfile.lock
  bot/handlers/report.py
  club/settings.py
  club/urls.py
  frontend/html/payments/pay.html
  frontend/html/payments/yookassa/pay.html
  payments/views/yookassa.py
Due: py-flake8

feat: yookassa test mode
  .github/workflows/deploy.yml
  Pipfile
  Pipfile.lock
  club/settings.py
  club/urls.py
  frontend/html/payments/pay.html
  frontend/html/payments/rubles.html
  payments/helpers.py
  payments/products.py
  payments/views/stripe.py
  payments/views/yookassa.py
Due: yamllint, py-flake8

feat: activate yookassa prod
  club/settings.py
  frontend/html/payments/pay.html
  payments/views/yookassa.py
Due: py-flake8

feat: add yk receipts
  payments/views/yookassa.py
Due: py-flake8

fix: yk test mode
  payments/helpers.py
  payments/views/yookassa.py
Due: py-flake8

feat(ci): deploy on workflow_dispatch
  .github/workflows/deploy.yml
Due: yamllint

fix: pay page for anon users
  frontend/html/payments/rubles.html
  payments/views/yookassa.py
Due: py-flake8

fix: prevent favicon wrapping
  frontend/static/css/components/posts.css
Due: none

сохраняем тест при редактировании что бы не терять работу
  .zed/settings.json
  frontend/static/js/App.js
Due: none

clean
  .zed/settings.json
Due: none

chore: new achievements
  common/data/achievements.py
  frontend/html/payments/rubles.html
  frontend/static/images/achievements/vas3k_burn_2026.png
  frontend/static/images/achievements/vas3k_camp_2026.png
  frontend/static/images/achievements/vas3k_skipper.png
Due: py-flake8

fix: yookassa webhook
  payments/views/yookassa.py
Due: py-flake8

feat: new user.referer field
  frontend/html/users/edit/profile.html
  frontend/html/users/intro.html
  frontend/html/users/profile.html
  frontend/static/css/components/intro.css
  frontend/static/css/components/profile.css
  frontend/static/css/components/stats.css
  notifications/telegram/templates/messages/moderator_new_member_review.html
  users/forms/intro.py
  users/forms/profile.py
  users/migrations/0035_user_referer.py
  users/models/user.py
Due: py-flake8

feat: save text on frontend (#1479)
  frontend/static/js/App.js
Due: none

fix(security): 2 improvements across 2 files
  ai/rate_limiter.py
Due: py-flake8

fix(security): 2 improvements across 2 files
  authn/views/email.py
Due: py-flake8

fix: badge generator
  frontend/static/css/components/godmode.css
Due: none

chore: rewrite missing contact text (#1471)
  notifications/telegram/templates/messages/rejected/data.html
Due: none

fix: helpdesk bot in group chats
  helpdeskbot/handlers/question.py
  helpdeskbot/main.py
Due: py-flake8

fix: skipper achievement
  common/data/achievements.py
  frontend/static/images/achievements/vas3k_skipper.png
Due: py-flake8

Revert "feat: save text on frontend (#1479)"
  frontend/static/js/App.js
Due: none

Path conditions:
  yamllint: any of: .*\.(yaml|yml)$
  py-flake8: any of: .*\.py$
