Repository vas3k/vas3k.club: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, py-flake8

.pre-commit-config.yaml:

---
default_stages: [pre-commit, pre-push]
fail_fast: false

repos:
  - repo: local
    hooks:
      #
      # YAML
      - id: yamllint
        name: yamllint
        files: .*\.(yaml|yml)$
        entry: yamllint --config-file ./.yamllint
        language: system
        always_run: false
        pass_filenames: true

      #
      # Python
      - id: py-flake8
        name: py-flake8
        files: .*\.py$
        entry: flake8 --config setup.cfg
        language: system
        always_run: false
        pass_filenames: true

      #
      # POST-CHECKOUT
      # optional, need to be installed with: pre-commit install -t post-checkout
      - id: git-pull
        name: git pull
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && git pull --all || true'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

      - id: git-branch-delete-stale
        name: Delete stale committed branches
        # yamllint disable-line rule:line-length
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && (git fetch -p && git branch -vv | grep ":\ gone]" | awk "{ print \$1 }" | xargs git branch -D) || true' --
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

bugfix: fix achievements page layout for mobile screen; fix achievement block text overflow; remove link on achievement on the same page
  frontend/html/achievements/show_achievement.html
  frontend/html/achievements/widgets/achievement.html
  frontend/html/emails/achievement.html
  frontend/static/css/components/profile.css
  frontend/static/css/components/stats.css
Due: none

bugfix: allow to open back side of achievements on touch
  frontend/html/achievements/widgets/achievement.html
Due: none

Free membership
  authn/views/auth.py
  authn/views/email.py
  club/features.py
Due: py-flake8

Deploy
  .github/workflows/deploy.yml
  club/settings.py
  docker-compose.production.yml
Due: yamllint, py-flake8

FIx astrophoto achievement name
  common/data/achievements.py
Due: py-flake8

Email
  club/settings.py
Due: py-flake8

Nginx config
  club/settings.py
  docker-compose.production.yml
  etc/nginx/club.conf
  etc/nginx/i.club.conf
  etc/nginx/og.club.conf
Due: yamllint, py-flake8

Decoration
  club/settings.py
  etc/nginx/club.conf
  frontend/html/common/menu-full.html
  frontend/html/common/menu-simplified.html
  frontend/html/docs/about.html
  frontend/html/docs/blocked_dolor.html
  frontend/html/emails/invited.html
  frontend/html/emails/layout.html
  frontend/html/emails/weekly.html
  frontend/html/landing.html
  frontend/html/layout.html
  frontend/html/openid/list_apps.html
  frontend/html/users/intro.html
Due: py-flake8

Decoration
  frontend/html/docs/contact.html
Due: none

Make simple_image add "loading" attribute to img html
  common/markdown/club_renderer.py
Due: py-flake8

Docs
  frontend/html/docs/about.html
  frontend/html/docs/blocked_dolor.html
  frontend/html/docs/contact.html
  frontend/html/docs/privacy_policy.html
Due: none

Update layout.html
  frontend/html/posts/show/layout.html
Due: none

Update access_denied.html
  frontend/html/auth/access_denied.html
Due: none

fix: add robots meta to access_denied.html (#1195)
  frontend/html/auth/access_denied.html
Due: none

Show profile tags and collectible in API json output
  club/urls.py
  users/api.py
Due: py-flake8

Updated urls, removed api_profile_tags_by_telegram_id
  club/urls.py
Due: py-flake8

fix: remove twemoji dependency, add as CDN
  frontend/html/common/js.html
  frontend/package-lock.json
  frontend/package.json
  frontend/static/js/App.js
Due: none

fix: load twemoji as a deferred script
  frontend/html/common/js.html
Due: none

Revert "fix: remove twemoji dependency, add as CDN"
  frontend/html/common/js.html
  frontend/package-lock.json
  frontend/package.json
  frontend/static/js/App.js
Due: none

Favicon
  frontend/static/images/favicon/android-chrome-192x192.png
  frontend/static/images/favicon/android-chrome-512x512.png
  frontend/static/images/favicon/apple-touch-icon.png
  frontend/static/images/favicon/favicon-16x16.png
  frontend/static/images/favicon/favicon-32x32.png
  frontend/static/images/favicon/favicon-dark.svg
  frontend/static/images/favicon/favicon.ico
  frontend/static/images/favicon/favicon.svg
  frontend/static/images/logo/logo-1024.png
  frontend/static/images/logo/logo-128.png
  frontend/static/images/logo/logo-256.png
  frontend/static/images/logo/logo-512.png
  frontend/static/images/logo/logo-white-256.png
  frontend/static/images/logo/logo-white-text.png
  frontend/static/images/the_machine_logo.png
Due: none

Share
  frontend/static/images/share.png
Due: none

Fix registration template
  frontend/html/emails/registration.html
Due: none

fix registration template (#1199)
  frontend/html/emails/registration.html
Due: none

feat: badge generator pages for printing
  club/urls.py
  frontend/html/admin/badge_generator.html
  frontend/html/admin/godmode.html
  frontend/static/css/components/profile.css
  landing/views.py
Due: py-flake8

fix: badges printing layout
  frontend/html/admin/badge_generator.html
  landing/views.py
Due: py-flake8

fix: fckng Safari has a bug with aspect-ratio property
  frontend/static/css/components/profile.css
Due: none

Update greetings.py
  common/data/greetings.py
Due: py-flake8

feat: MOAR greetings.py (#1201)
  common/data/greetings.py
Due: py-flake8

feat: support gif, webp, avif, mp4
  frontend/static/js/inline-attachment.js
Due: none

fix: pronounses
  frontend/html/users/messages/muted.html
  frontend/html/users/profile.html
Due: none

fix: pronounses (#1202)
  frontend/html/users/messages/muted.html
  frontend/html/users/profile.html
Due: none

static: new tinkoff link
  frontend/html/docs/blocked_dolor.html
Due: none

bugfix: adjust comment form width to 100% to prevent overflow
  frontend/static/css/layout.css
Due: none

fix: adjust battle comment form width to 100% to prevent overflow (#1203)
  frontend/static/css/layout.css
Due: none

Cloudpayments
  .github/workflows/deploy.yml
  authn/views/email.py
  club/features.py
  club/settings.py
  club/urls.py
  frontend/html/auth/join.html
  frontend/html/emails/registration.html
  frontend/html/payments/blocks/packages.html
  frontend/html/payments/cloudpayments_pay.html
  frontend/html/payments/membership_expired.html
  frontend/html/users/edit/payments.html
  notifications/telegram/bot.py
  payments/cloudpayments.py
  payments/migrations/0006_subscription.py
  payments/models.py
  payments/views/camp.py
  payments/views/cloudpayments.py
  payments/views/crypto.py
  payments/views/stripe.py
  users/apps.py
  users/models/user.py
Due: yamllint, py-flake8

Временный редирект на внешний лендинг
  landing/views.py
Due: py-flake8
