Repository vas3k/vas3k.club: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, py-flake8

yamllint:
  name: yamllint
  entry: yamllint --config-file ./.yamllint
  language: system
  always_run: false
  pass_filenames: true

py-flake8:
  name: py-flake8
  entry: flake8 --config setup.cfg
  language: system
  always_run: false
  pass_filenames: true

feat: custom email for tix
  frontend/html/emails/camp_confirmation.html
  frontend/html/emails/custom_markdown.html
  tickets/admin.py
  tickets/migrations/0003_rename_email_template_ticket_send_email_title_and_more.py
  tickets/models.py
  tickets/views.py
Due: py-flake8

feat: custom emails + improve markdown
  common/markdown/club_renderer.py
  common/markdown/markdown.py
  frontend/static/css/components/posts.css
  notifications/management/commands/send_custom_email.py
  tickets/models.py
  tickets/views.py
  users/models/achievements.py
Due: py-flake8

feat: mass email form
  club/urls.py
  common/markdown/club_renderer.py
  frontend/html/admin/godmode.html
  landing/forms.py
  landing/views.py
  notifications/email/custom.py
  notifications/management/commands/send_custom_email.py
Due: py-flake8

feat: send confirmations to telegram too
  tickets/views.py
Due: py-flake8

fix: stripe keys mess
  payments/helpers.py
  tickets/views.py
Due: py-flake8

fix: telegram renderer + custom css
  common/markdown/club_renderer.py
  common/markdown/common.py
  common/markdown/telegram_renderer.py
  frontend/html/emails/intro_update.html
  frontend/html/emails/layout.html
Due: py-flake8

static: camp achievement
  common/data/achievements.py
  frontend/static/images/achievements/vas3k_camp_2025.webp
  frontend/static/images/achievements/vas3k_quest_2024.png
  frontend/static/images/achievements/vas3k_quest_2024.webp
Due: py-flake8

templates: add button class to custom markdown emails
  frontend/html/emails/custom_markdown.html
Due: none

fix: mass mail templates css
  frontend/html/emails/custom_markdown.html
  frontend/html/emails/layout.html
Due: none

fix: mass mail templates markdown
  notifications/email/custom.py
Due: py-flake8

fix: ticket sale
  tickets/views.py
Due: py-flake8

feat: NEW AMAZING REDESIGN!!111111
  frontend/html/common/menu-full.html
  frontend/html/common/menu-simplified.html
  frontend/html/layout.html
  frontend/html/posts/show/post.html
  frontend/static/css/aprilfools.css
  frontend/static/css/index.css
Due: none

Revert "feat: NEW AMAZING REDESIGN!!111111"
  frontend/html/common/menu-full.html
  frontend/html/common/menu-simplified.html
  frontend/html/layout.html
  frontend/html/posts/show/post.html
  frontend/static/css/aprilfools.css
  frontend/static/css/index.css
Due: none

Update README.md
  README.md
Due: none

fix(api): prevent users from adding themselves as friends
  users/models/friends.py
  users/views/friends.py
Due: py-flake8

replaced request.me with user_from
  users/views/friends.py
Due: py-flake8

rolled back some of changes
  users/models/friends.py
  users/views/friends.py
Due: py-flake8

Add geoguessr achievements
  common/data/achievements.py
  frontend/static/images/achievements/geoguessr_beast.png
  frontend/static/images/achievements/geoguessr_lite.png
Due: py-flake8

Fix geoguessr_lite description
  common/data/achievements.py
Due: py-flake8

fix(api): prevent users from adding themselves as friends (#1307)
  users/views/friends.py
Due: py-flake8

Reduce image sizes by converting to 8-bit pallete
  frontend/static/images/achievements/geoguessr_beast.png
  frontend/static/images/achievements/geoguessr_lite.png
Due: none

Reduce AI-generated achievements by 60%
  frontend/static/images/achievements/2024.png
  frontend/static/images/achievements/ai_art.png
  frontend/static/images/achievements/birds.png
  frontend/static/images/achievements/botmom.png
  frontend/static/images/achievements/couchsurfing.png
  frontend/static/images/achievements/diy_challenge_2.png
  frontend/static/images/achievements/grill_master.png
  frontend/static/images/achievements/pokerface.png
Due: none

static: add geoguessr achievements (#1308)
  common/data/achievements.py
  frontend/static/images/achievements/geoguessr_beast.png
  frontend/static/images/achievements/geoguessr_lite.png
Due: py-flake8

static: reduce AI-generated achievements by 60% (#1309)
  frontend/static/images/achievements/2024.png
  frontend/static/images/achievements/ai_art.png
  frontend/static/images/achievements/birds.png
  frontend/static/images/achievements/botmom.png
  frontend/static/images/achievements/couchsurfing.png
  frontend/static/images/achievements/diy_challenge_2.png
  frontend/static/images/achievements/grill_master.png
  frontend/static/images/achievements/pokerface.png
Due: none

feat: ai bot responses
  .github/workflows/deploy.yml
  Pipfile
  Pipfile.lock
  ai/__init__.py
  ai/apps.py
  ai/openai.py
  ai/rate_limiter.py
  ai/tools.py
  bot/handlers/ai.py
  bot/main.py
  club/settings.py
  club/urls.py
  comments/models.py
  comments/views.py
  frontend/html/admin/godmode.html
  frontend/html/message.html
  frontend/html/users/profile.html
  landing/forms.py
  landing/views.py
  search/management/commands/update_post_embeddings.py
Due: yamllint, py-flake8

feat: ai bot responses
  Pipfile
  Pipfile.lock
  ai/assistant.py
  ai/tools.py
  club/settings.py
Due: py-flake8

Revert "feat: ai bot responses"
  .github/workflows/deploy.yml
  ai/apps.py
  ai/assistant.py
  ai/openai.py
  ai/rate_limiter.py
  ai/tools.py
  bot/handlers/ai.py
  bot/main.py
  club/settings.py
  club/urls.py
  comments/models.py
  comments/views.py
  frontend/html/admin/godmode.html
  frontend/html/message.html
  frontend/html/users/profile.html
  landing/forms.py
  landing/views.py
  search/management/commands/update_post_embeddings.py
  tags/migrations/__init__.py
Due: yamllint, py-flake8

fix: revert
  club/settings.py
Due: py-flake8

feat: ai responses 2
  .github/workflows/deploy.yml
  Pipfile.lock
  ai/__init__.py
  ai/apps.py
  ai/assistant.py
  ai/forms.py
  ai/openai.py
  ai/rate_limiter.py
  ai/tools.py
  ai/views.py
  bot/handlers/llm.py
  bot/main.py
  club/settings.py
  club/urls.py
  comments/models.py
  comments/views.py
  frontend/html/admin/godmode.html
  frontend/html/message.html
  frontend/html/users/profile.html
Due: yamllint, py-flake8

fix: bot
  bot/handlers/llm.py
  bot/main.py
Due: py-flake8

fix: use ParseMode.HTML
  bot/handlers/llm.py
Due: py-flake8

fix(bot): reply to orig messages
  ai/tools.py
  bot/handlers/llm.py
Due: py-flake8

feat(ai): add search_users tool
  ai/tools.py
Due: py-flake8

feat(ai): chat search + generic search
  ai/rate_limiter.py
  ai/tools.py
  rooms/models.py
Due: py-flake8

fix(ai): bot + ai + failing tests
  Makefile
  ai/assistant.py
  ai/config.py
  ai/rate_limiter.py
  ai/tools.py
  bot/config.py
  bot/handlers/comments.py
  bot/handlers/common.py
  bot/handlers/llm.py
  bot/handlers/upvotes.py
  bot/main.py
  invites/migrations/0003_alter_invite_invited_user.py
  tags/migrations/0001_initial.py
  tags/migrations/__init__.py
  users/migrations/0001_initial.py
  users/migrations/0003_auto_20200409_0846.py
  users/migrations/0004_auto_20200409_0849.py
  users/migrations/0005_auto_20200416_0937.py
  users/migrations/0008_auto_20200521_1957.py
  users/migrations/0010_auto_20200523_1912.py
  users/migrations/0033_rename_muted_usermuted.py
Due: py-flake8

fix: comments via bot
  Makefile
  bot/main.py
Due: py-flake8

Add achievement image
  frontend/static/images/achievements/music_jam_7.png
Due: none

Update achievements.py
  common/data/achievements.py
Due: py-flake8

Minify PNG
  frontend/static/images/achievements/music_jam_7.png
Due: none

static: winter challenge achievement 2025 (#1310)
  common/data/achievements.py
  frontend/static/images/achievements/music_jam_7.png
Due: py-flake8

Path conditions:
  yamllint: any of: .*\.(yaml|yml)$
  py-flake8: any of: .*\.py$
