Repository vas3k/vas3k.club: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, py-flake8

.pre-commit-config.yaml:

---
default_stages: [pre-commit, pre-push]
fail_fast: false

repos:
  - repo: local
    hooks:
      #
      # YAML
      - id: yamllint
        name: yamllint
        files: .*\.(yaml|yml)$
        entry: yamllint --config-file ./.yamllint
        language: system
        always_run: false
        pass_filenames: true

      #
      # Python
      - id: py-flake8
        name: py-flake8
        files: .*\.py$
        entry: flake8 --config setup.cfg
        language: system
        always_run: false
        pass_filenames: true

      #
      # POST-CHECKOUT
      # optional, need to be installed with: pre-commit install -t post-checkout
      - id: git-pull
        name: git pull
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && git pull --all || true'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

      - id: git-branch-delete-stale
        name: Delete stale committed branches
        # yamllint disable-line rule:line-length
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && (git fetch -p && git branch -vv | grep ":\ gone]" | awk "{ print \$1 }" | xargs git branch -D) || true' --
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Отмена подписки
  club/urls.py
  frontend/html/users/edit/payments.html
  payments/cloudpayments.py
  payments/views/cloudpayments.py
Due: py-flake8

Отмена подписки
  payments/cloudpayments.py
  payments/views/cloudpayments.py
  users/views/settings.py
Due: py-flake8

feat: profile publicity levels
  frontend/html/comments/list.html
  frontend/html/comments/types/private.html
  frontend/html/comments/types/reply.html
  frontend/html/posts/show/post.html
  frontend/html/users/edit/profile.html
  frontend/static/css/components/comments.css
  users/forms/profile.py
  users/migrations/0030_auto_20240729_1343.py
  users/models/user.py
Due: py-flake8

уменьшен отступ что бы картинка в начале поса не наезжала на кнопку с рейтингом
  frontend/static/css/components/posts.css
Due: none

fix: disable programmatic tax rates
  payments/views/stripe.py
Due: py-flake8

fix: use automatic tax rates
  payments/products.py
  payments/views/stripe.py
Due: py-flake8

fix: comment templates working again
  frontend/html/comments/forms/comment.html
Due: none

fix: remove "focused" from comments form with text
  frontend/html/comments/forms/comment.html
Due: none

feat: add vat to pricing page, remove monthly subscriptions
  frontend/html/payments/blocks/packages.html
  frontend/static/css/components/payments.css
  payments/views/stripe.py
Due: py-flake8

feat: mass note generator
  club/urls.py
  frontend/html/admin/godmode.html
  frontend/html/misc/badge_generator.html
  frontend/html/misc/mass_note.html
  landing/views.py
  misc/fun.py
  notifications/digests.py
  payments/views/camp.py
Due: py-flake8

fix: search indexing fails on 3000+ tags in a profile
  search/management/commands/rebuild_search_index.py
  search/models.py
Due: py-flake8

added links to badge gifter profile
  frontend/html/emails/badge.html
  notifications/telegram/templates/messages/badge.html
Due: none

Order users by moderation status in by_telegram_id
  users/api.py
Due: py-flake8

Fix docker compose in Github Actions
  .github/workflows/check_build_and_run.yml
Due: yamllint

Заменил лого и ссылку
  frontend/html/emails/weekly.html
Due: none

заменяем на новые лого и ссылки
  docker-compose.production.yml
  frontend/html/emails/achievement.html
  frontend/html/emails/auth.html
  frontend/html/emails/badge.html
  frontend/html/emails/rejected/layout.html
  frontend/html/emails/weekly.html
  frontend/static/images/logo/logo-1024.png
  frontend/static/images/logo/logo-128.png
  frontend/static/images/logo/logo-256.png
  frontend/static/images/logo/logo-512.png
Due: yamllint

Заменил "the_machin_logo"
  frontend/static/images/the_machine_logo.png
Due: none

fix: comment counters not updated when posting via bot
  bot/handlers/comments.py
  frontend/html/misc/mass_note.html
Due: py-flake8

fix: PIDOR
  bot/handlers/comments.py
Due: py-flake8

fix: order users by moderation status in by_telegram_id (#1248)
  .github/workflows/check_build_and_run.yml
  users/api.py
Due: yamllint, py-flake8

change require_nonce=False, checks for None
  authn/providers/openid.py
Due: py-flake8

check for None
  authn/models/openid.py
Due: py-flake8

Deleted None for get nonce
  authn/providers/openid.py
Due: py-flake8

fix: do not require nonce parameter in OpenID (#1253)
  authn/models/openid.py
  authn/providers/openid.py
Due: py-flake8

Скрывать пригласительные ссылки чатов от ботов
  helpdeskbot/templates/messages/helpdeskbot_question_in_channel.html
Due: none

Add TelegramRenderer
  common/markdown/markdown.py
  common/markdown/plain_renderer.py
  common/markdown/telegram_renderer.py
  notifications/telegram/templates/messages/best_comments.html
  notifications/telegram/templates/messages/channel_comment_announce.html
  notifications/telegram/templates/messages/channel_post_announce.html
  notifications/telegram/templates/messages/comment_mention.html
  notifications/telegram/templates/messages/comment_to_post.html
  notifications/telegram/templates/messages/comment_to_thread.html
  notifications/telegram/templates/messages/friend_comment.html
  notifications/telegram/templates/messages/friend_post.html
  notifications/telegram/templates/messages/moderator_comment.html
  notifications/telegram/templates/messages/moderator_mention.html
  notifications/telegram/templates/messages/moderator_new_member_review.html
  notifications/telegram/templates/messages/moderator_new_post_review.html
  notifications/telegram/templates/messages/moderator_updated_intro.html
  notifications/telegram/templates/messages/top.html
  posts/templatetags/posts.py
Due: py-flake8

Don't wrap into in a code block
  notifications/telegram/templates/messages/moderator_new_member_review.html
  notifications/telegram/templates/messages/moderator_updated_intro.html
Due: none

fix: hide real char links from bots (#1254)
  helpdeskbot/templates/messages/helpdeskbot_question_in_channel.html
Due: none

Put PlainRenderer and render_plain back
  common/markdown/markdown.py
  common/markdown/plain_renderer.py
  posts/templatetags/posts.py
Due: py-flake8

Put PlainRenderer and render_plain back (posts.py)
  posts/templatetags/posts.py
Due: py-flake8

feat: add TelegramRenderer for notifications (#1255)
  common/markdown/markdown.py
  common/markdown/telegram_renderer.py
  notifications/telegram/templates/messages/best_comments.html
  notifications/telegram/templates/messages/channel_comment_announce.html
  notifications/telegram/templates/messages/channel_post_announce.html
  notifications/telegram/templates/messages/comment_mention.html
  notifications/telegram/templates/messages/comment_to_post.html
  notifications/telegram/templates/messages/comment_to_thread.html
  notifications/telegram/templates/messages/friend_comment.html
  notifications/telegram/templates/messages/friend_post.html
  notifications/telegram/templates/messages/moderator_comment.html
  notifications/telegram/templates/messages/moderator_mention.html
  notifications/telegram/templates/messages/moderator_new_member_review.html
  notifications/telegram/templates/messages/moderator_new_post_review.html
  notifications/telegram/templates/messages/moderator_updated_intro.html
  notifications/telegram/templates/messages/top.html
  posts/templatetags/posts.py
Due: py-flake8

fix: use absolute room url in help desk bot
  etc/crontab
  helpdeskbot/templates/messages/helpdeskbot_answer_from_room.html
  helpdeskbot/templates/messages/helpdeskbot_question_in_channel.html
Due: none

fix: use absolute room url in help desk bot 2
  helpdeskbot/templates/messages/helpdeskbot_answer_from_room.html
  helpdeskbot/templates/messages/helpdeskbot_question_in_channel.html
Due: none

fix: links not shown on broken metadata
  frontend/html/posts/show/link.html
Due: none

fixed url formatting
  notifications/telegram/templates/messages/badge.html
Due: none

full user search api endpoint
  club/urls.py
  search/api.py
Due: py-flake8

Изменил ссылки на каналы и бота
  club/settings.py
  frontend/html/users/edit/notifications.html
Due: py-flake8

Изменил ссылки на каналы и бота
  frontend/html/users/edit/notifications.html
Due: none

fix: proper comment editing form for battles and replies
  comments/forms.py
  comments/views.py
  frontend/html/comments/edit.html
  frontend/html/comments/forms/battle.html
  frontend/html/comments/forms/comment.html
Due: py-flake8

fix: better comment textarea for mobile (auto-grow + bigger size)
  frontend/static/css/components/comments.css
  frontend/static/js/components/MarkdownEditor/MobileMarkdownEditor.vue
Due: none
