Repository vas3k/vas3k.club: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, py-flake8

.pre-commit-config.yaml:

---
default_stages: [pre-commit, pre-push]
fail_fast: false

repos:
  - repo: local
    hooks:
      #
      # YAML
      - id: yamllint
        name: yamllint
        files: .*\.(yaml|yml)$
        entry: yamllint --config-file ./.yamllint
        language: system
        always_run: false
        pass_filenames: true

      #
      # Python
      - id: py-flake8
        name: py-flake8
        files: .*\.py$
        entry: flake8 --config setup.cfg
        language: system
        always_run: false
        pass_filenames: true

      #
      # POST-CHECKOUT
      # optional, need to be installed with: pre-commit install -t post-checkout
      - id: git-pull
        name: git pull
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && git pull --all || true'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

      - id: git-branch-delete-stale
        name: Delete stale committed branches
        # yamllint disable-line rule:line-length
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && (git fetch -p && git branch -vv | grep ":\ gone]" | awk "{ print \$1 }" | xargs git branch -D) || true' --
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Expertises were removed
  club/context_processors.py
  club/settings.py
  club/urls.py
  common/data/expertise.py
  frontend/static/css/components/profile.css
  frontend/static/js/main.js
  gdpr/archive.py
  gdpr/forget.py
  gdpr/serializers.py
  users/forms/profile.py
  users/migrations/0028_auto_20240516_0554.py
  users/models/expertise.py
  users/views/profile.py
Due: py-flake8

feat: remove expertise (#1204)
  club/context_processors.py
  club/settings.py
  club/urls.py
  common/data/expertise.py
  frontend/static/css/components/profile.css
  frontend/static/js/main.js
  gdpr/archive.py
  gdpr/forget.py
  gdpr/serializers.py
  users/forms/profile.py
  users/migrations/0028_auto_20240516_0554.py
  users/models/expertise.py
  users/views/profile.py
Due: py-flake8

Емейл
  club/settings.py
Due: py-flake8

Почта в инвайтах приводится к нижнему регистру
  landing/views.py
Due: py-flake8

static: add quest achievement
  common/data/achievements.py
  frontend/static/images/achievements/vas3k_quest_2024.png
Due: py-flake8

static: pokerface achievement
  common/data/achievements.py
  frontend/static/images/achievements/pokerface.png
Due: py-flake8

Исправлена почта
  frontend/html/users/edit/profile.html
Due: none

Исправлена почта
  frontend/html/users/edit/payments.html
Due: none

Опечатка
  frontend/html/docs/about.html
Due: none

Правка бота
  bot/handlers/common.py
Due: py-flake8

Decoration
  frontend/html/users/intro.html
Due: none

Убрана ссылка на гайд по написанию постов
  frontend/html/posts/compose/post.html
Due: none

feat: increase best comments limit
  common/data/achievements.py
  notifications/management/commands/send_best_comments.py
Due: py-flake8

fix: notification icons
  frontend/html/users/edit/notifications.html
  frontend/html/users/intro.html
Due: none

feat: improved progressive ban system
  common/data/ban.py
  frontend/html/emails/banned.html
  frontend/html/users/admin.html
  frontend/html/users/profile.html
  frontend/static/css/components/profile.css
  notifications/telegram/users.py
  users/forms/admin.py
  users/helpers.py
  users/migrations/0029_auto_20240613_1242.py
  users/models/user.py
  users/views/admin_actions.py
Due: py-flake8

fix: rss ignore `is_public` option
  posts/rss.py
Due: py-flake8

fix: remove hash login and daily digest preview
  authn/views/email.py
  club/urls.py
  notifications/views.py
Due: py-flake8

fix: tests
  authn/views/tests.py
Due: py-flake8

fix: remove user hash from rss link
  frontend/html/layout.html
Due: none

feat: ban in all chats script
  rooms/helpers.py
  rooms/management/__init__.py
  rooms/management/commands/__init__.py
  rooms/management/commands/bulk_chat_action.py
  users/helpers.py
Due: py-flake8

fix: multi-ban script, exception handling
  rooms/helpers.py
Due: py-flake8

feat: purge whole comment thread (for moderators)
  club/urls.py
  comments/views.py
  frontend/html/comments/edit.html
  frontend/static/css/components/comments.css
Due: py-flake8

Add the link to the message in channel to the message in the room/group chat
  helpdeskbot/handlers/question.py
  helpdeskbot/help_desk_common.py
Due: py-flake8

fix: small ban fixes
  common/data/ban.py
  frontend/html/emails/banned.html
  frontend/html/users/profile.html
  rooms/helpers.py
Due: py-flake8

ci: add new secrets
  .github/workflows/deploy.yml
Due: yamllint

feat: help desk bot (#1172)
  Makefile
  club/.env.example
  club/settings.py
  docker-compose.production.yml
  docker-compose.yml
  docs/setup.md
  etc/nginx/vas3k.club.conf
  helpdeskbot/__init__.py
  helpdeskbot/admin.py
  helpdeskbot/apps.py
  helpdeskbot/handlers/__init__.py
  helpdeskbot/handlers/question.py
  helpdeskbot/handlers/reply.py
  helpdeskbot/help_desk_common.py
  helpdeskbot/main.py
  helpdeskbot/migrations/0001_initial.py
  helpdeskbot/migrations/__init__.py
  helpdeskbot/models.py
  helpdeskbot/room.py
  helpdeskbot/templates/messages/helpdeskbot_ban.html
  helpdeskbot/templates/messages/helpdeskbot_body_max_len_error.html
  helpdeskbot/templates/messages/helpdeskbot_edit_canceled.html
  helpdeskbot/templates/messages/helpdeskbot_edit_question.html
  helpdeskbot/templates/messages/helpdeskbot_error_fallback.html
  helpdeskbot/templates/messages/helpdeskbot_input_without_command_error.html
  helpdeskbot/templates/messages/helpdeskbot_question_current_state.html
  helpdeskbot/templates/messages/helpdeskbot_question_is_published.html
  helpdeskbot/templates/messages/helpdeskbot_question_limit.html
  helpdeskbot/templates/messages/helpdeskbot_request_room_choose.html
  helpdeskbot/templates/messages/helpdeskbot_request_text_value.html
  helpdeskbot/templates/messages/helpdeskbot_review_question.html
  helpdeskbot/templates/messages/helpdeskbot_title_body_empty_error.html
  helpdeskbot/templates/messages/helpdeskbot_title_max_len_error.html
  helpdeskbot/templates/messages/helpdeskbot_welcome.html
Due: yamllint, py-flake8

fix: wrong python version for these type annotations
  helpdeskbot/room.py
Due: py-flake8

Fix help desk bot configuration
  helpdeskbot/main.py
Due: py-flake8

fix: help desk bot configuration (#1208)
  helpdeskbot/main.py
Due: py-flake8

fix: helpdeskbot improvements
  helpdeskbot/config.py
  helpdeskbot/handlers/question.py
  helpdeskbot/room.py
  helpdeskbot/templates/messages/helpdeskbot_ban.html
  helpdeskbot/templates/messages/helpdeskbot_body_max_len_error.html
  helpdeskbot/templates/messages/helpdeskbot_edit_canceled.html
  helpdeskbot/templates/messages/helpdeskbot_edit_question.html
  helpdeskbot/templates/messages/helpdeskbot_error_fallback.html
  helpdeskbot/templates/messages/helpdeskbot_question_is_published.html
  helpdeskbot/templates/messages/helpdeskbot_question_limit.html
  helpdeskbot/templates/messages/helpdeskbot_request_room_choose.html
  helpdeskbot/templates/messages/helpdeskbot_request_text_value.html
  helpdeskbot/templates/messages/helpdeskbot_title_body_empty_error.html
  helpdeskbot/templates/messages/helpdeskbot_title_max_len_error.html
  helpdeskbot/templates/messages/helpdeskbot_welcome.html
Due: py-flake8

fix: small rare exceptions
  common/request.py
  misc/views.py
Due: py-flake8

feat: helpdesk: remove tags, simplify keyboard
  helpdeskbot/handlers/question.py
  helpdeskbot/handlers/reply.py
  helpdeskbot/templates/messages/helpdeskbot_question_current_state.html
  helpdeskbot/templates/messages/helpdeskbot_welcome.html
Due: py-flake8

fix: improve helpdesk templates and workflows
  helpdeskbot/handlers/question.py
  helpdeskbot/handlers/reply.py
  helpdeskbot/templates/messages/helpdeskbot_input_without_command_error.html
  helpdeskbot/templates/messages/helpdeskbot_question.html
  helpdeskbot/templates/messages/helpdeskbot_question_current_state.html
  helpdeskbot/templates/messages/helpdeskbot_request_text_value.html
  helpdeskbot/templates/messages/helpdeskbot_review_question.html
Due: py-flake8

fix: moar helpdesk refactoring
  club/settings.py
  helpdeskbot/config.py
  helpdeskbot/handlers/answers.py
  helpdeskbot/handlers/question.py
  helpdeskbot/help_desk_common.py
  helpdeskbot/main.py
  helpdeskbot/templates/messages/helpdeskbot_channel_question.html
  helpdeskbot/templates/messages/helpdeskbot_review_question.html
  helpdeskbot/templates/messages/helpdeskbot_room_question.html
Due: py-flake8

fix: moar helpdesk refactoring
  helpdeskbot/config.py
  helpdeskbot/handlers/answers.py
  helpdeskbot/handlers/question.py
  helpdeskbot/help_desk_common.py
  helpdeskbot/main.py
  helpdeskbot/migrations/0001_initial.py
  helpdeskbot/room.py
Due: py-flake8

fix: helpdesk answers refactor
  helpdeskbot/config.py
  helpdeskbot/handlers/answers.py
  helpdeskbot/handlers/question.py
  helpdeskbot/rooms.py
  helpdeskbot/templates/messages/helpdeskbot_answer_from_room.html
  helpdeskbot/templates/messages/helpdeskbot_answer_notification.html
  helpdeskbot/templates/messages/helpdeskbot_question_in_channel.html
  helpdeskbot/templates/messages/helpdeskbot_question_in_room.html
  helpdeskbot/templates/messages/helpdeskbot_review_question.html
Due: py-flake8

fix: linter
  helpdeskbot/handlers/question.py
Due: py-flake8

fix: name collision
  helpdeskbot/handlers/answers.py
  helpdeskbot/handlers/question.py
  helpdeskbot/room.py
Due: py-flake8

fix: helpdeskbot no room_id bug
  helpdeskbot/handlers/question.py
Due: py-flake8

fix: helpdeskbot answers body
  helpdeskbot/handlers/answers.py
  helpdeskbot/handlers/question.py
  helpdeskbot/templates/messages/helpdeskbot_answer_from_room.html
  helpdeskbot/templates/messages/helpdeskbot_answer_notification.html
Due: py-flake8
