Repository vas3k/vas3k.club: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, py-flake8

.pre-commit-config.yaml:

---
default_stages: [pre-commit, pre-push]
fail_fast: false

repos:
  - repo: local
    hooks:
      #
      # YAML
      - id: yamllint
        name: yamllint
        files: .*\.(yaml|yml)$
        entry: yamllint --config-file ./.yamllint
        language: system
        always_run: false
        pass_filenames: true

      #
      # Python
      - id: py-flake8
        name: py-flake8
        files: .*\.py$
        entry: flake8 --config setup.cfg
        language: system
        always_run: false
        pass_filenames: true

      #
      # POST-CHECKOUT
      # optional, need to be installed with: pre-commit install -t post-checkout
      - id: git-pull
        name: git pull
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && git pull --all || true'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

      - id: git-branch-delete-stale
        name: Delete stale committed branches
        # yamllint disable-line rule:line-length
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && (git fetch -p && git branch -vv | grep ":\ gone]" | awk "{ print \$1 }" | xargs git branch -D) || true' --
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

fix: delete via POST + confirm.html
  frontend/html/confirm.html
  frontend/html/godmode/confirm.html
  frontend/html/godmode/edit.html
  frontend/html/posts/compose/elements/save_buttons.html
  frontend/html/posts/widgets/post_actions_line.html
  frontend/static/css/components/godmode.css
  frontend/static/css/components/profile.css
  godmode/views/main.py
  posts/views/posts.py
Due: py-flake8

fix: form.instance.slug on create post
  frontend/html/posts/compose/elements/save_buttons.html
Due: none

feat: autocomplete for co-authors and mentions
  frontend/html/posts/compose/elements/post_settings.html
  frontend/html/posts/compose/elements/save_buttons.html
  frontend/static/css/components/comments.css
  frontend/static/css/components/compose.css
  frontend/static/js/components/CoauthorsSelect.vue
  frontend/static/js/components/MarkdownEditor/DesktopMarkdownEditor.vue
  frontend/static/js/main.js
  search/api.py
Due: py-flake8

fix: autocomplete + add events to sidebar
  frontend/html/comments/types/bold.html
  frontend/html/comments/types/normal.html
  frontend/html/comments/types/reply.html
  frontend/html/comments/types/snippet.html
  frontend/html/layout_with_sidebar.html
  frontend/static/css/base.css
  frontend/static/css/components/comments.css
  frontend/static/css/components/feed.css
  frontend/static/js/components/MarkdownEditor/DesktopMarkdownEditor.vue
Due: none

chore: add crash logging middleware
  club/middleware.py
  club/settings.py
Due: py-flake8

css: fix badge limit
  frontend/static/css/components/godmode.css
Due: none

fix: achievements
  common/data/achievements.py
  frontend/static/css/components/godmode.css
  frontend/static/css/components/profile.css
  frontend/static/images/achievements/vas3k_skipper1.png
Due: py-flake8

fix: achievements
  common/data/achievements.py
  frontend/static/css/components/profile.css
  frontend/static/images/achievements/vas3k_camp_2026.png
  frontend/static/images/achievements/vas3k_camp_2026.webp
Due: py-flake8

Added new achievements
  common/data/achievements.py
  frontend/static/images/achievements/club_chef.webp
  frontend/static/images/achievements/club_engineer.webp
  frontend/static/images/achievements/vibe_creator.webp
Due: py-flake8

Updated achievements
  common/data/achievements.py
  frontend/static/images/achievements/club_chef.webp
  frontend/static/images/achievements/club_engineer.webp
  frontend/static/images/achievements/vibe_creator.webp
Due: py-flake8

Add new achievements after camp 2026 (#1484)
  common/data/achievements.py
  frontend/static/images/achievements/club_chef.webp
  frontend/static/images/achievements/club_engineer.webp
  frontend/static/images/achievements/vibe_creator.webp
Due: py-flake8

Fixed images links
  common/data/achievements.py
  notifications/telegram/achievements.py
Due: py-flake8

fix: images links (#1485)
  common/data/achievements.py
  notifications/telegram/achievements.py
Due: py-flake8

Add files via upload
  frontend/static/images/achievements/parti_hangulatú_boros_furgon_transparent.webp
Due: none

feat: add wine_lover_2026 achievement
  common/data/achievements.py
  frontend/static/images/achievements/parti_hangulatú_boros_furgon_transparent.webp
  frontend/static/images/achievements/wine_lover_2026.webp
Due: py-flake8

feat: wine lover 2026 (#1486)
  common/data/achievements.py
  frontend/static/images/achievements/wine_lover_2026.webp
Due: py-flake8

fix: youtube embeds
  common/markdown/club_renderer.py
Due: py-flake8

fix: disable pg pooling
  docker-compose.production.yml
Due: yamllint

fix: better errors on user ban
  godmode/actions/user_ban.py
  users/helpers.py
Due: py-flake8

fix: unban fix
  godmode/actions/user_ban.py
Due: py-flake8

fix: pg pool is back
  club/settings.py
Due: py-flake8

feat: store room admins
  frontend/html/rooms/list_rooms.html
  frontend/html/rooms/widgets/admins.html
  frontend/html/rooms/widgets/feed_header.html
  frontend/static/css/components/feed.css
  godmode/admin.py
  godmode/config.py
  rooms/management/commands/count_chat_members.py
  rooms/migrations/0007_room_admins.py
  rooms/models.py
  rooms/tests/test_count_chat_members.py
  rooms/views.py
Due: py-flake8

fix: remove slop test
  rooms/tests/test_count_chat_members.py
Due: py-flake8

fix: remove god users from admins
  rooms/management/commands/count_chat_members.py
Due: py-flake8

feat: sidebar rename, show subscribed rooms in feed
  frontend/html/layout_with_sidebar.html
  frontend/html/network/network.html
  frontend/html/pages/stats.html
  frontend/html/rooms/list_rooms.html
  posts/views/feed.py
  rooms/views.py
Due: py-flake8

feat: better rooms
  frontend/html/layout_with_sidebar.html
  frontend/html/rooms/list_rooms.html
  frontend/html/rooms/widgets/admins.html
  frontend/html/rooms/widgets/card.html
  frontend/html/rooms/widgets/feed_header.html
  frontend/static/css/components/feed.css
  frontend/static/js/__tests__/Toggle.test.js
  frontend/static/js/components/Toggle.vue
  rooms/tests/test_views.py
  rooms/views.py
Due: py-flake8

fix: room tests
  rooms/tests/test_views.py
Due: py-flake8

fix: white text on buttons on dark theme
  frontend/static/css/components/feed.css
Due: none

feat: better search beta
  frontend/html/search.html
  frontend/static/css/components.css
  search/helpers.py
  search/management/commands/rebuild_search_index.py
  search/migrations/0005_searchindex_author_searchindex_upvotes_searchindex_title.py
  search/models.py
  search/tests/test_helpers.py
  search/tests/test_search.py
  search/views.py
Due: py-flake8

fix: add uniq constraints to search_index
  search/migrations/0006_searchindex_unique_per_type_object.py
  search/models.py
Due: py-flake8

fix: case-insensitive search by author
  frontend/html/search.html
  search/models.py
  search/tests/test_search.py
Due: py-flake8

fix: t.me -> telegram.me
  club/settings.py
Due: py-flake8

chore: goodbye pipenv, hello uv
  .github/dependabot.yml
  .github/workflows/tests.yml
  .gitignore
  .python-version
  Dockerfile
  Makefile
  Pipfile
  Pipfile.lock
  README.md
  club/settings.py
  docs/setup.md
  docs/test.md
  pyproject.toml
  uv.lock
Due: yamllint, py-flake8

chore: bump python, django, wsgi and other deps
  .github/workflows/tests.yml
  .python-version
  Dockerfile
  Makefile
  authn/cache.py
  authn/helpers.py
  authn/views/auth.py
  club/asgi.py
  club/settings.py
  docker-compose.production.yml
  docs/test.md
  etc/nginx/vas3k.club.conf
  gdpr/forget.py
  godmode/actions/user_delete.py
  notifications/management/commands/send_daily_digest.py
  payments/management/commands/send_subscription_expired.py
  pyproject.toml
  users/models/user.py
  users/views/delete_account.py
  uv.lock
Due: yamllint, py-flake8

fix: lxml deps
  .github/workflows/tests.yml
  Dockerfile
  setup.cfg
Due: yamllint

fix: lxml again
  .github/workflows/tests.yml
  Dockerfile
  common/flat_earth.py
  common/url_metadata_parser.py
  pyproject.toml
  uv.lock
Due: yamllint, py-flake8

fix: tests
  payments/tests/test_views.py
Due: py-flake8

fix: pg pooling
  club/settings.py
Due: py-flake8

fix: jose deprecation warning
  authn/views/openid.py
  pyproject.toml
  uv.lock
Due: py-flake8
