Repository vas3k/vas3k.club: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, py-flake8

.pre-commit-config.yaml:

---
default_stages: [pre-commit, pre-push]
fail_fast: false

repos:
  - repo: local
    hooks:
      #
      # YAML
      - id: yamllint
        name: yamllint
        files: .*\.(yaml|yml)$
        entry: yamllint --config-file ./.yamllint
        language: system
        always_run: false
        pass_filenames: true

      #
      # Python
      - id: py-flake8
        name: py-flake8
        files: .*\.py$
        entry: flake8 --config setup.cfg
        language: system
        always_run: false
        pass_filenames: true

      #
      # POST-CHECKOUT
      # optional, need to be installed with: pre-commit install -t post-checkout
      - id: git-pull
        name: git pull
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && git pull --all || true'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

      - id: git-branch-delete-stale
        name: Delete stale committed branches
        # yamllint disable-line rule:line-length
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && (git fetch -p && git branch -vv | grep ":\ gone]" | awk "{ print \$1 }" | xargs git branch -D) || true' --
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

fix: legacy prices
  payments/products.py
Due: py-flake8

feat: godmode sunday posts
  club/settings.py
  club/urls.py
  common/dates.py
  frontend/html/admin/godmode.html
  frontend/html/misc/sunday_posts.html
  frontend/html/users/edit/payments.html
  landing/views.py
Due: py-flake8

script: update stripe subscriptions
  frontend/html/emails/price_increase.html
  frontend/html/emails/subscription_expired.html
  payments/management/commands/update_subscription_price.py
Due: py-flake8

script: update stripe subscriptions (3 years)
  frontend/html/emails/price_increase_1.html
  frontend/html/emails/price_increase_3.html
  payments/management/commands/update_subscription_price.py
Due: py-flake8

script: yearly intro update notification
  etc/crontab
  frontend/html/emails/intro_update.html
  notifications/management/commands/notify_expired_intros.py
  notifications/telegram/templates/messages/intro_update.html
Due: py-flake8

script: skip email on expired intros if tg is available
  frontend/html/emails/intro_update.html
  notifications/management/commands/notify_expired_intros.py
  notifications/telegram/templates/messages/intro_update.html
Due: py-flake8

feat: add author name to rss feed
  posts/rss.py
Due: py-flake8

fix: remove incorrect default
  posts/views/feed.py
Due: py-flake8

feat: add author to RSS feed (#1282)
  posts/rss.py
  posts/views/feed.py
Due: py-flake8

script: expired intros on tuesday
  etc/crontab
  notifications/management/commands/notify_expired_intros.py
Due: py-flake8

feat: invite api for vas3kpaybot
  club/urls.py
  common/api.py
  etc/crontab
  invites/models.py
  payments/api.py
Due: py-flake8

fix: invite api
  invites/models.py
Due: py-flake8

fix: invite api
  payments/api.py
Due: py-flake8

test: cloudflare geolocation
  frontend/html/admin/godmode.html
Due: none

feat: RU payments
  club/settings.py
  frontend/html/admin/godmode.html
  frontend/html/docs/blocked_dolor.html
  frontend/html/layout.html
  frontend/html/payments/pay.html
Due: py-flake8

feat: show digest title and description in telegram
  notifications/management/commands/send_weekly_digest.py
  notifications/telegram/templates/messages/best_comments.html
  notifications/telegram/templates/messages/channel_comment_announce.html
  notifications/telegram/templates/messages/channel_post_announce.html
  notifications/telegram/templates/messages/comment_mention.html
  notifications/telegram/templates/messages/comment_to_post.html
  notifications/telegram/templates/messages/comment_to_thread.html
  notifications/telegram/templates/messages/friend_comment.html
  notifications/telegram/templates/messages/friend_post.html
  notifications/telegram/templates/messages/moderator_comment.html
  notifications/telegram/templates/messages/moderator_mention.html
  notifications/telegram/templates/messages/moderator_new_member_review.html
  notifications/telegram/templates/messages/moderator_new_post_review.html
  notifications/telegram/templates/messages/moderator_updated_intro.html
  notifications/telegram/templates/messages/post_collectible_tag.html
  notifications/telegram/templates/messages/post_room_subscriber.html
  notifications/telegram/templates/messages/top.html
  notifications/telegram/templates/messages/weekly_digest_announce.html
  posts/templatetags/posts.py
Due: py-flake8

feat: GET api for invites
  club/urls.py
  invites/api.py
  invites/models.py
  payments/api.py
Due: py-flake8

feat: show invite usernames to moderators
  invites/api.py
  invites/views.py
Due: py-flake8

fix: html tags in intro
  notifications/telegram/templates/messages/moderator_new_member_review.html
Due: none

feat: location selector on the map
  frontend/html/users/edit/profile.html
  frontend/html/users/intro.html
  frontend/static/css/components/profile.css
  frontend/static/js/components/LocationSelect.vue
  frontend/static/js/components/UserAvatarInput.vue
  frontend/static/js/main.js
  notifications/telegram/templates/messages/moderator_updated_intro.html
  users/forms/profile.py
  users/migrations/0031_auto_20250111_1508.py
  users/models/geo.py
  users/models/user.py
  users/templatetags/users.py
  users/views/people.py
  users/views/settings.py
Due: py-flake8

fix: mapbox not showing map :(
  frontend/html/users/edit/profile.html
  frontend/html/users/people.html
  frontend/package-lock.json
  frontend/package.json
  frontend/static/js/components/LocationSelect.vue
Due: none

fix: mapbox weird bug, fixed
  frontend/static/css/components/profile.css
  frontend/static/js/components/LocationSelect.vue
Due: none

fix: template fixes
  frontend/html/pages/stats.html
  frontend/static/js/components/LocationSelect.vue
  notifications/telegram/templates/messages/weekly_digest_announce.html
Due: none

npm ci err
  frontend/package.json
Due: none

fix err with old version of node
  frontend/package-lock.json
Due: none

fix: slow SQL query in post views
  etc/crontab
  notifications/telegram/templates/messages/weekly_digest_announce.html
  posts/migrations/0028_postview_post_views_post_id_49dd7e_idx.py
  posts/models/views.py
Due: py-flake8

fix: package-lock cleanup
  frontend/package-lock.json
Due: none

infra: bump ubuntu 20.04 -> 24.10
  Dockerfile
  Pipfile
  Pipfile.lock
  common/data/achievements.py
  frontend/static/images/achievements/post_of_month.png
  notifications/management/commands/send_weekly_digest.py
  notifications/signals/posts.py
  notifications/telegram/common.py
  notifications/telegram/posts.py
Due: py-flake8

Revert "infra: bump ubuntu 20.04 -> 24.10"
  Dockerfile
  Pipfile
  Pipfile.lock
  common/data/achievements.py
  frontend/static/images/achievements/post_of_month.png
  notifications/management/commands/send_weekly_digest.py
  notifications/signals/posts.py
  notifications/telegram/common.py
  notifications/telegram/posts.py
Due: py-flake8

infra: bump ubuntu 20.04 -> 24.04
  Dockerfile
  Pipfile
  Pipfile.lock
  docker-compose.test.yml
  docker-compose.yml
Due: yamllint

Revert "infra: bump ubuntu 20.04 -> 24.04"
  Dockerfile
  Pipfile
  Pipfile.lock
  docker-compose.test.yml
  docker-compose.yml
Due: yamllint

infra: new server, ubuntu 20.04 -> 24.04
  Dockerfile
  docker-compose.production.yml
  docker-compose.test.yml
  docker-compose.yml
  etc/nginx/vas3k.club.conf
Due: yamllint

infra: python 3.8 -> 3.12
  Pipfile
  Pipfile.lock
Due: none

fix: tests, postgres deploy
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
  docker-compose.production.yml
Due: yamllint

infra: fix nginx config, fix tests
  .github/workflows/tests.yml
  docker-compose.production.yml
  etc/nginx/i.vas3k.club.conf
  etc/nginx/vas3k.club.conf
Due: yamllint

infra: fix tests
  .github/workflows/tests.yml
Due: yamllint

fix: tests
  payments/test_models.py
  payments/test_views.py
Due: py-flake8

infra: enable bots on new production
  docker-compose.production.yml
Due: yamllint

fix: telegram webhook
  club/settings.py
  helpdeskbot/config.py
Due: py-flake8
