Repository vas3k/vas3k.club: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, py-flake8

.pre-commit-config.yaml:

---
default_stages: [pre-commit, pre-push]
fail_fast: false

repos:
  - repo: local
    hooks:
      #
      # YAML
      - id: yamllint
        name: yamllint
        files: .*\.(yaml|yml)$
        entry: yamllint --config-file ./.yamllint
        language: system
        always_run: false
        pass_filenames: true

      #
      # Python
      - id: py-flake8
        name: py-flake8
        files: .*\.py$
        entry: flake8 --config setup.cfg
        language: system
        always_run: false
        pass_filenames: true

      #
      # POST-CHECKOUT
      # optional, need to be installed with: pre-commit install -t post-checkout
      - id: git-pull
        name: git pull
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && git pull --all || true'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

      - id: git-branch-delete-stale
        name: Delete stale committed branches
        # yamllint disable-line rule:line-length
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && (git fetch -p && git branch -vv | grep ":\ gone]" | awk "{ print \$1 }" | xargs git branch -D) || true' --
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

1128: CONTRIBUTING.md, pre-commit
  CONTRIBUTING.md
Due: none

Hide scroll to comments button on printed version of the page
  frontend/static/css/components/comments.css
Due: none

feat: add List-Unsubscribe header to weekly digest
  notifications/email/invites.py
  notifications/email/sender.py
  notifications/email/users.py
  notifications/management/commands/send_weekly_digest.py
  notifications/signals/achievements.py
  notifications/signals/badges.py
  payments/management/commands/send_subscription_expired.py
Due: py-flake8

Ulan Landing
  ulanLanding/landing/img/Frame 4.svg
  ulanLanding/landing/img/Frame 425.svg
  ulanLanding/landing/img/Frame 5.svg
  ulanLanding/landing/img/logo.svg
  ulanLanding/landing/img/rame 5.svg
  ulanLanding/landing/index.html
  ulanLanding/landing/style.css
Due: none

Ulan Club Landing
  ulanClub/landing/img/Frame 4.svg
  ulanClub/landing/img/Frame 425.svg
  ulanClub/landing/img/Frame 5.svg
  ulanClub/landing/img/logo.svg
  ulanClub/landing/img/rame 5.svg
  ulanClub/landing/index.html
  ulanClub/landing/style.css
Due: none

Add ask-bot
  Makefile
  askbot/__init__.py
  askbot/admin.py
  askbot/apps.py
  askbot/ask_common.py
  askbot/handlers/__init__.py
  askbot/handlers/question.py
  askbot/handlers/reply.py
  askbot/main.py
  askbot/migrations/0001_initial.py
  askbot/migrations/__init__.py
  askbot/models.py
  club/.env.example
  club/settings.py
  docker-compose.production.yml
  docker-compose.yml
  docs/setup.md
  etc/nginx/vas3k.club.conf
Due: yamllint, py-flake8

Fix room chat reply texts. Refactor code.
  askbot/ask_common.py
  askbot/handlers/question.py
  askbot/handlers/reply.py
  askbot/main.py
  askbot/models.py
Due: py-flake8

Extract getting rooms to a module
  askbot/handlers/question.py
  askbot/handlers/reply.py
  askbot/room.py
Due: py-flake8

Rename send_html_msg function
  askbot/ask_common.py
  askbot/handlers/question.py
  askbot/handlers/reply.py
Due: py-flake8

Fix available rooms
  askbot/room.py
Due: py-flake8

Replace int states with enum
  askbot/handlers/question.py
Due: py-flake8

Add explicit order by for rooms. Extract link building string.
  askbot/handlers/question.py
  askbot/room.py
Due: py-flake8

Show user chosen tags in JSON view
  users/api.py
Due: py-flake8

reuse current logic for edit html
  frontend/html/comments/edit.html
Due: none

fixed save_message for comment form
  frontend/html/comments/forms/comment.html
Due: none

ref
  frontend/html/posts/show/layout.html
Due: none

changed views with current logic
  comments/views.py
Due: py-flake8

create some filters and tags for jinja
  comments/templatetags/comments.py
Due: py-flake8

pass comment to battle forms
  frontend/html/comments/edit.html
  frontend/html/comments/forms/battle.html
Due: none

save message in battle
  frontend/html/comments/forms/battle.html
  frontend/html/posts/show/battle.html
Due: none

fix #1131: edit battle side in comment (#1176)
  comments/templatetags/comments.py
  comments/views.py
  frontend/html/comments/edit.html
  frontend/html/comments/forms/battle.html
  frontend/html/comments/forms/comment.html
  frontend/html/posts/show/battle.html
  frontend/html/posts/show/layout.html
Due: py-flake8

Add rendering user messages via templates
  askbot/ask_common.py
  askbot/handlers/question.py
  askbot/models.py
  askbot/templates/messages/askbot_ban.html
  askbot/templates/messages/askbot_body_max_len_error.html
  askbot/templates/messages/askbot_edit_canceled.html
  askbot/templates/messages/askbot_edit_question.html
  askbot/templates/messages/askbot_error_fallback.html
  askbot/templates/messages/askbot_input_without_command_error.html
  askbot/templates/messages/askbot_question_current_state.html
  askbot/templates/messages/askbot_question_is_published.html
  askbot/templates/messages/askbot_question_limit.html
  askbot/templates/messages/askbot_request_room_choose.html
  askbot/templates/messages/askbot_request_text_value.html
  askbot/templates/messages/askbot_review_question.html
  askbot/templates/messages/askbot_title_body_empty_error.html
  askbot/templates/messages/askbot_title_max_len_error.html
  askbot/templates/messages/askbot_welcome.html
  club/settings.py
Due: py-flake8

Rename ask-bot -> help-desk-bot
  Makefile
  club/.env.example
  club/settings.py
  docker-compose.production.yml
  docker-compose.yml
  docs/setup.md
  etc/nginx/vas3k.club.conf
  helpdeskbot/__init__.py
  helpdeskbot/admin.py
  helpdeskbot/apps.py
  helpdeskbot/handlers/__init__.py
  helpdeskbot/handlers/question.py
  helpdeskbot/handlers/reply.py
  helpdeskbot/help_desk_common.py
  helpdeskbot/main.py
  helpdeskbot/migrations/0001_initial.py
  helpdeskbot/migrations/__init__.py
  helpdeskbot/models.py
  helpdeskbot/room.py
  helpdeskbot/templates/messages/helpdeskbot_ban.html
  helpdeskbot/templates/messages/helpdeskbot_body_max_len_error.html
  helpdeskbot/templates/messages/helpdeskbot_edit_canceled.html
  helpdeskbot/templates/messages/helpdeskbot_edit_question.html
  helpdeskbot/templates/messages/helpdeskbot_error_fallback.html
  helpdeskbot/templates/messages/helpdeskbot_input_without_command_error.html
  helpdeskbot/templates/messages/helpdeskbot_question_current_state.html
  helpdeskbot/templates/messages/helpdeskbot_question_is_published.html
  helpdeskbot/templates/messages/helpdeskbot_question_limit.html
  helpdeskbot/templates/messages/helpdeskbot_request_room_choose.html
  helpdeskbot/templates/messages/helpdeskbot_request_text_value.html
  helpdeskbot/templates/messages/helpdeskbot_review_question.html
  helpdeskbot/templates/messages/helpdeskbot_title_body_empty_error.html
  helpdeskbot/templates/messages/helpdeskbot_title_max_len_error.html
  helpdeskbot/templates/messages/helpdeskbot_welcome.html
Due: yamllint, py-flake8

bugfix: fix layout on people search page for mobile devices
  frontend/html/users/people.html
  frontend/static/css/components/people.css
Due: none

fix: broken layout on people search page for mobile devices (#1179)
  frontend/html/users/people.html
  frontend/static/css/components/people.css
Due: none

fix: wrong price tag for +50 years
  payments/products.py
Due: py-flake8

Added GitLeaks check
  .github/workflows/pr-security-check.yml
Due: yamllint

Use proper type=email in loginx field for autcompletion and better UX
  frontend/html/auth/login.html
Due: none

fix: use proper type=email in login field for autcompletion and better UX (#1183)
  frontend/html/auth/login.html
Due: none

Winter music challenge achievement 2024
  common/data/achievements.py
  frontend/static/images/achievements/music_jam_6.png
Due: py-flake8

static: music challenge achievement 2024 (#1184)
  common/data/achievements.py
  frontend/static/images/achievements/music_jam_6.png
Due: py-flake8

feat: stripe webhook for camp sales
  .github/workflows/deploy.yml
  club/urls.py
  common/data/achievements.py
  frontend/html/emails/camp_confirmation.html
  frontend/static/images/achievements/vas3k_camp_2024.jpg
  payments/helpers.py
  payments/views/camp.py
  payments/views/stripe.py
Due: yamllint, py-flake8

fix: add “form novalidate” to allow nickname login
  frontend/html/auth/login.html
Due: none

feat: custom email sending script
  frontend/html/emails/camp_confirmation.html
  notifications/management/commands/send_custom_email.py
  payments/views/camp.py
Due: py-flake8

feat: camp email test
  frontend/html/emails/camp_confirmation.html
Due: none

Deploy
  .github/workflows/deploy.yml
Due: yamllint

feat: update mass email script
  notifications/management/commands/send_custom_email.py
Due: py-flake8

feat: new “show achievement” page
  club/urls.py
  frontend/html/achievements/show_achievement.html
  frontend/html/achievements/widgets/achievement.html
  frontend/html/pages/stats.html
  frontend/html/users/profile.html
  frontend/static/css/components/profile.css
  frontend/static/css/components/stats.css
  misc/views.py
  notifications/management/commands/send_custom_email.py
  notifications/signals/achievements.py
Due: py-flake8

fix: wrong template name
  notifications/signals/achievements.py
Due: py-flake8

fix: hide rooms with is_visible=false from /network/
  frontend/html/pages/network.html
Due: none
