Repository vas3k/vas3k.club: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, py-flake8

.pre-commit-config.yaml:

---
default_stages: [pre-commit, pre-push]
fail_fast: false

repos:
  - repo: local
    hooks:
      #
      # YAML
      - id: yamllint
        name: yamllint
        files: .*\.(yaml|yml)$
        entry: yamllint --config-file ./.yamllint
        language: system
        always_run: false
        pass_filenames: true

      #
      # Python
      - id: py-flake8
        name: py-flake8
        files: .*\.py$
        entry: flake8 --config setup.cfg
        language: system
        always_run: false
        pass_filenames: true

      #
      # POST-CHECKOUT
      # optional, need to be installed with: pre-commit install -t post-checkout
      - id: git-pull
        name: git pull
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && git pull --all || true'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

      - id: git-branch-delete-stale
        name: Delete stale committed branches
        # yamllint disable-line rule:line-length
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && (git fetch -p && git branch -vv | grep ":\ gone]" | awk "{ print \$1 }" | xargs git branch -D) || true' --
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

perf(feed): eliminate double query evaluation for pinned post (#1420)
  posts/tests/test_feed.py
  posts/views/feed.py
Due: py-flake8

refactor(comments): move rate limit check from template tag to view, add select_related (#1415)
  comments/templatetags/comments.py
  comments/views.py
  frontend/html/comments/forms/battle.html
  frontend/html/comments/forms/comment.html
  frontend/html/comments/widgets/limit.html
  posts/renderers.py
  posts/tests/test_renderers.py
Due: py-flake8

chore: upgrade Node.js from 14 to 22 LTS (#1417)
  .github/workflows/tests.yml
  Dockerfile
  docker-compose.yml
  docs/test.md
  frontend/babel.config.js
Due: yamllint

refactor(frontend): remove vue-mapbox-ho and $forceUpdate for Vue 3 readiness (#1418)
  frontend/package-lock.json
  frontend/package.json
  frontend/static/js/__tests__/PeopleMap.test.js
  frontend/static/js/components/LocationSelect.vue
  frontend/static/js/components/PeopleMap.vue
  frontend/static/js/components/ThemeSwitcher.vue
  frontend/webpack.config.js
Due: none

perf(backend): optimize post detail and feed queries
  posts/models/post.py
  posts/renderers.py
  posts/tests/test_post_model.py
  posts/tests/test_renderers.py
Due: py-flake8

test(tests): update feed view reference and bookmark class expectations
  posts/tests/test_renderers.py
Due: py-flake8

perf(search,profile): fix search N+1 and extract lightweight count methods
  comments/models.py
  posts/models/post.py
  search/tests_query_count.py
  search/views.py
  users/tests/test_profile.py
  users/views/profile.py
Due: py-flake8

fix(common): handle non-consecutive keys in group_by
  common/models.py
  common/tests/test_group_by.py
Due: py-flake8

perf(backend): optimize post detail and feed queries (#1414)
  posts/models/post.py
  posts/renderers.py
  posts/tests/test_post_model.py
  posts/tests/test_renderers.py
Due: py-flake8

perf(search,profile): fix search N+1 and extract lightweight count methods (#1422)
  comments/models.py
  posts/models/post.py
  search/tests_query_count.py
  search/views.py
  users/tests/test_profile.py
  users/views/profile.py
Due: py-flake8

fix(common): handle non-consecutive keys in group_by (#1423)
  common/models.py
  common/tests/test_group_by.py
Due: py-flake8

ci(make): use python3 in Makefile run targets
  Makefile
Due: none

ci: add Dependabot for GitHub Actions and Docker, fix frontend Dockerfile
  .github/dependabot.yml
  frontend/Dockerfile
Due: yamllint

ci(make): modernize Makefile and standardize dev/docker targets
  Makefile
Due: none

ci(make): add test prerequisite to psql target
  Makefile
Due: none

ci(lint): run flake8 from repo root and ignore migrations
  Makefile
  setup.cfg
Due: none

ci(tests): make tests workflow callable and run before build
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
  docker-compose.test.yml
Due: yamllint

ci(tests): treat flake8 style warnings as non-failing in tests workflow
  .github/workflows/tests.yml
Due: yamllint

fix(comments): remove DB write from template rendering, add reply validation
  comments/forms.py
  comments/templatetags/comments.py
  comments/tests/test_template_tags.py
  comments/views.py
Due: py-flake8

fix(comments): remove DB write from template rendering, add reply validation (#1416)
  comments/forms.py
  comments/templatetags/comments.py
  comments/tests/test_template_tags.py
  comments/views.py
Due: py-flake8

ci(frontend): update frontend Dockerfile to use node:22-slim image
  frontend/Dockerfile
Due: none

ci: add Dependabot for GitHub Actions and Docker, fix frontend Dockerfile (#1411)
  .github/dependabot.yml
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
  Makefile
  docker-compose.test.yml
  frontend/Dockerfile
  setup.cfg
Due: yamllint

fix(ci): add contents:read permission to deploy workflow
  .github/workflows/deploy.yml
Due: yamllint

fix(ci): add contents:read permission to deploy workflow (#1429)
  .github/workflows/deploy.yml
Due: yamllint

fix(ci): restrict Dependabot Docker updates to patch versions only
  .github/dependabot.yml
Due: yamllint

fix(ci): remove duplicate test run on push to master
  .github/workflows/tests.yml
Due: yamllint

fix(ci): remove duplicate test run on push to master (#1438)
  .github/workflows/tests.yml
Due: yamllint

fix(ci): restrict Dependabot Docker updates to patch versions only (#1437)
  .github/dependabot.yml
Due: yamllint

feat(telegram): allow webhook URLs to be configured via environment variables
  club/settings.py
  helpdeskbot/config.py
Due: py-flake8

ci(makefile): set TESTS_RUN env for local and CI test targets
  Makefile
Due: none

test(tests): track worker thread and close DB connections to prevent leaks
  bot/handlers/test_llm.py
  bot/test_integration.py
Due: py-flake8

refactor(tests): adapt telegram tests and helpers for v22 migration
  bot/handlers/test_llm.py
  bot/test_integration.py
  notifications/telegram/tests.py
Due: py-flake8

fix(tests): call shutdown unconditionally in integration teardown
  bot/test_integration.py
Due: py-flake8

docs(tests): update test instructions for pipenv, docker compose, and env vars
  docs/test.md
Due: none

refactor(bot): adapt to python-telegram-bot v22 and improve message handling
  bot/handlers/whois.py
  bot/main.py
  bot/test_integration.py
  helpdeskbot/handlers/question.py
  notifications/telegram/bot.py
  notifications/telegram/common.py
  notifications/telegram/tests.py
Due: py-flake8

fix(telegram): allow missing TELEGRAM_TOKEN and tidy moderation messages
  bot/handlers/moderation.py
  notifications/telegram/bot.py
Due: py-flake8

feat(telegram): migrate python-telegram-bot from v12.5.1 to v22.6
  Pipfile
  Pipfile.lock
  bot/decorators.py
  bot/handlers/auth.py
  bot/handlers/comments.py
  bot/handlers/common.py
  bot/handlers/fun.py
  bot/handlers/llm.py
  bot/handlers/moderation.py
  bot/handlers/posts.py
  bot/handlers/test_llm.py
  bot/handlers/top.py
  bot/handlers/upvotes.py
  bot/handlers/whois.py
  bot/main.py
  bot/test_integration.py
  helpdeskbot/handlers/answers.py
  helpdeskbot/handlers/question.py
  helpdeskbot/help_desk_common.py
  helpdeskbot/main.py
  misc/views.py
  notifications/management/commands/send_weekly_digest.py
  notifications/telegram/bot.py
  notifications/telegram/comments.py
  notifications/telegram/common.py
  notifications/telegram/posts.py
  notifications/telegram/tests.py
  notifications/telegram/users.py
  rooms/helpers.py
  rooms/management/commands/count_chat_members.py
Due: py-flake8

perf(models): cache club settings and room lists to reduce DB queries
  godmode/models.py
  godmode/tests/__init__.py
  godmode/tests/test_club_settings.py
  helpdeskbot/room.py
  posts/context_processors/feed.py
  posts/forms/compose.py
  posts/tests/test_context_processors.py
  rooms/models.py
Due: py-flake8

perf(feed): remove caching of rooms context and simplify tests
  posts/context_processors/feed.py
  posts/tests/test_context_processors.py
Due: py-flake8

refactor(api): extract auth and serialization from @api decorator, fix auth bypass
  authn/decorators/api.py
  authn/models/openid.py
  authn/tests.py
  frontend/static/js/common/api.service.js
Due: py-flake8
