Repository vas3k/vas3k.club: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, py-flake8

.pre-commit-config.yaml:

---
default_stages: [pre-commit, pre-push]
fail_fast: false

repos:
  - repo: local
    hooks:
      #
      # YAML
      - id: yamllint
        name: yamllint
        files: .*\.(yaml|yml)$
        entry: yamllint --config-file ./.yamllint
        language: system
        always_run: false
        pass_filenames: true

      #
      # Python
      - id: py-flake8
        name: py-flake8
        files: .*\.py$
        entry: flake8 --config setup.cfg
        language: system
        always_run: false
        pass_filenames: true

      #
      # POST-CHECKOUT
      # optional, need to be installed with: pre-commit install -t post-checkout
      - id: git-pull
        name: git pull
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && git pull --all || true'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

      - id: git-branch-delete-stale
        name: Delete stale committed branches
        # yamllint disable-line rule:line-length
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && (git fetch -p && git branch -vv | grep ":\ gone]" | awk "{ print \$1 }" | xargs git branch -D) || true' --
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

feat(telegram): migrate python-telegram-bot from v12.5.1 to v22.6
  Pipfile
  Pipfile.lock
  bot/decorators.py
  bot/handlers/auth.py
  bot/handlers/comments.py
  bot/handlers/common.py
  bot/handlers/fun.py
  bot/handlers/llm.py
  bot/handlers/moderation.py
  bot/handlers/posts.py
  bot/handlers/test_llm.py
  bot/handlers/top.py
  bot/handlers/upvotes.py
  bot/handlers/whois.py
  bot/main.py
  bot/test_integration.py
  helpdeskbot/handlers/answers.py
  helpdeskbot/handlers/question.py
  helpdeskbot/help_desk_common.py
  helpdeskbot/main.py
  misc/views.py
  notifications/management/commands/send_weekly_digest.py
  notifications/telegram/bot.py
  notifications/telegram/comments.py
  notifications/telegram/common.py
  notifications/telegram/posts.py
  notifications/telegram/tests.py
  notifications/telegram/users.py
  rooms/helpers.py
  rooms/management/commands/count_chat_members.py
Due: py-flake8

fix(telegram): allow missing TELEGRAM_TOKEN and tidy moderation messages
  bot/handlers/moderation.py
  notifications/telegram/bot.py
Due: py-flake8

fix(tests): call shutdown unconditionally in integration teardown
  bot/test_integration.py
Due: py-flake8

refactor(bot): adapt to python-telegram-bot v22 and improve message handling
  bot/handlers/whois.py
  bot/main.py
  bot/test_integration.py
  helpdeskbot/handlers/question.py
  notifications/telegram/bot.py
  notifications/telegram/common.py
  notifications/telegram/tests.py
Due: py-flake8

docs(tests): update test instructions for pipenv, docker compose, and env vars
  docs/test.md
Due: none

ci(makefile): set TESTS_RUN env for local and CI test targets
  Makefile
Due: none

test(tests): track worker thread and close DB connections to prevent leaks
  bot/handlers/test_llm.py
  bot/test_integration.py
Due: py-flake8

refactor(tests): adapt telegram tests and helpers for v22 migration
  bot/handlers/test_llm.py
  bot/test_integration.py
  notifications/telegram/tests.py
Due: py-flake8

feat(telegram): allow webhook URLs to be configured via environment variables
  club/settings.py
  helpdeskbot/config.py
Due: py-flake8

fix(rss): exclude private and unapproved posts from RSS feeds
  .github/workflows/tests.yml
  posts/rss.py
  posts/tests/test_rss.py
  posts/user_rss.py
Due: yamllint, py-flake8

fix(posts): show private posts in RSS without exposing content
  posts/rss.py
  posts/tests/test_rss.py
  posts/user_rss.py
Due: py-flake8

fix(rss): show private posts in feeds without exposing full content
  posts/rss.py
  posts/tests/test_rss.py
Due: py-flake8

feat: upcoming events in digest
  notifications/digests.py
  notifications/telegram/templates/messages/good_morning.html
  posts/forms/compose.py
Due: py-flake8

feat: migrate frontend from Vue 2 to Vue 3
  frontend/.husky/pre-commit
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/static/css/components/select.css
  frontend/static/js/__tests__/CommentScrollArrow.test.js
  frontend/static/js/__tests__/PeopleMap.test.js
  frontend/static/js/__tests__/PostUpvote.test.js
  frontend/static/js/__tests__/Toggle.test.js
  frontend/static/js/components/CommentScrollArrow.vue
  frontend/static/js/components/InputLengthCounter.vue
  frontend/static/js/components/LocationSelect.vue
  frontend/static/js/components/MarkdownEditor/MarkdownEditor.vue
  frontend/static/js/components/PeopleMap.vue
  frontend/static/js/components/PostToC.vue
  frontend/static/js/components/ReplyForm.vue
  frontend/static/js/components/SimpleSelect.vue
  frontend/static/js/components/TagSelect.vue
  frontend/static/js/components/ThemeSwitcher.vue
  frontend/static/js/main.js
  frontend/webpack.config.js
Due: none

build(frontend): use [fullhash] for production asset filenames
  frontend/webpack.config.js
Due: none

feat(frontend): lazy-load markdown editor & inline assets; use contenthash for build
  frontend/.dockerignore
  frontend/static/js/App.js
  frontend/static/js/components/MarkdownEditor/DesktopMarkdownEditor.vue
  frontend/static/js/components/MarkdownEditor/MobileMarkdownEditor.vue
  frontend/static/js/main.js
  frontend/webpack.config.js
Due: none

feat: upcoming events in digest
  notifications/digests.py
  notifications/telegram/templates/messages/good_morning.html
Due: py-flake8

fix(rss): filter unapproved posts in user RSS feed (#1442)
  .github/workflows/tests.yml
  posts/tests/test_rss.py
  posts/user_rss.py
Due: yamllint, py-flake8

fix(frontend): reset autocomplete selection, add v-for key, and fix SimpleSelect binding
  frontend/static/js/components/MarkdownEditor/DesktopMarkdownEditor.vue
  frontend/static/js/components/SimpleSelect.vue
Due: none

feat: migrate frontend from Vue 2 to Vue 3 (#1443)
  frontend/.dockerignore
  frontend/.husky/pre-commit
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/static/css/components/select.css
  frontend/static/js/App.js
  frontend/static/js/__tests__/CommentScrollArrow.test.js
  frontend/static/js/__tests__/PeopleMap.test.js
  frontend/static/js/__tests__/PostUpvote.test.js
  frontend/static/js/__tests__/Toggle.test.js
  frontend/static/js/components/CommentScrollArrow.vue
  frontend/static/js/components/InputLengthCounter.vue
  frontend/static/js/components/LocationSelect.vue
  frontend/static/js/components/MarkdownEditor/DesktopMarkdownEditor.vue
  frontend/static/js/components/MarkdownEditor/MarkdownEditor.vue
  frontend/static/js/components/MarkdownEditor/MobileMarkdownEditor.vue
  frontend/static/js/components/PeopleMap.vue
  frontend/static/js/components/PostToC.vue
  frontend/static/js/components/ReplyForm.vue
  frontend/static/js/components/SimpleSelect.vue
  frontend/static/js/components/TagSelect.vue
  frontend/static/js/components/ThemeSwitcher.vue
  frontend/static/js/main.js
  frontend/webpack.config.js
Due: none

fix: resolve Vue 3 compatibility issues in InputLengthCounter and DesktopMarkdownEditor
  frontend/static/js/components/InputLengthCounter.vue
  frontend/static/js/components/MarkdownEditor/DesktopMarkdownEditor.vue
Due: none

fix(frontend): reset left margin for feed inline element to fix layout
  frontend/static/css/components/feed.css
Due: none

fix: resolve Vue 3 compatibility issues in InputLengthCounter and DesktopMarkdownEditor (#1444)
  frontend/static/css/components/feed.css
  frontend/static/js/components/InputLengthCounter.vue
  frontend/static/js/components/MarkdownEditor/DesktopMarkdownEditor.vue
Due: none

revert: Vue3 migration. GAME OVER. TRY AGAIN :)))
  frontend/.dockerignore
  frontend/.husky/pre-commit
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/static/css/components/feed.css
  frontend/static/css/components/select.css
  frontend/static/js/App.js
  frontend/static/js/__tests__/CommentScrollArrow.test.js
  frontend/static/js/__tests__/PeopleMap.test.js
  frontend/static/js/__tests__/PostUpvote.test.js
  frontend/static/js/__tests__/Toggle.test.js
  frontend/static/js/components/CommentScrollArrow.vue
  frontend/static/js/components/InputLengthCounter.vue
  frontend/static/js/components/LocationSelect.vue
  frontend/static/js/components/MarkdownEditor/DesktopMarkdownEditor.vue
  frontend/static/js/components/MarkdownEditor/MarkdownEditor.vue
  frontend/static/js/components/MarkdownEditor/MobileMarkdownEditor.vue
  frontend/static/js/components/PeopleMap.vue
  frontend/static/js/components/PostToC.vue
  frontend/static/js/components/ReplyForm.vue
  frontend/static/js/components/SimpleSelect.vue
  frontend/static/js/components/TagSelect.vue
  frontend/static/js/components/ThemeSwitcher.vue
  frontend/static/js/main.js
  frontend/webpack.config.js
Due: none

ci: test new crontab
  etc/crontab
  notifications/management/commands/send_daily_digest.py
  notifications/telegram/templates/messages/good_morning.html
Due: py-flake8

ci: add PATH to crontab
  etc/crontab
Due: none

ci: final crontab
  etc/crontab
Due: none

fix: daily digest schedule + typos
  etc/crontab
  frontend/html/emails/renewal.html
  notifications/email/users.py
Due: py-flake8

fix: err message text
  authn/views/openid.py
Due: py-flake8

feat(infra): pass SENTRY_DSN to supercronic in Makefile
  Makefile
Due: none

feat: replace system cron with supercronic for container-friendly scheduling
  .dockerignore
  Dockerfile
  Makefile
  etc/crontab
Due: none

ci(infra): add trailing newline to /etc/crontab
  etc/crontab
Due: none

fix: add striptags filter to intro preview in weekly digest
  frontend/html/emails/weekly.html
  notifications/tests.py
Due: py-flake8

fix: add striptags filter to intro preview in weekly digest (#1447)
  frontend/html/emails/weekly.html
  notifications/tests.py
Due: py-flake8

feat: replace system cron with supercronic for container-friendly scheduling (#1446)
  .dockerignore
  Dockerfile
  Makefile
  etc/crontab
Due: none

fix: set Q_CLUSTER retry > timeout to prevent premature task restarts
  club/settings.py
Due: py-flake8

feat: add sentry + script to list users
  club/middleware.py
  rooms/helpers.py
  rooms/management/commands/bulk_chat_action.py
Due: py-flake8

feat: script to remove expired users from a chat
  .github/workflows/deploy.yml
  Pipfile
  Pipfile.lock
  club/settings.py
  rooms/management/commands/remove_expired_users_from_chat.py
Due: yamllint, py-flake8

fix: telegram remove bot
  rooms/management/commands/remove_expired_users_from_chat.py
Due: py-flake8

fix: telethon session
  rooms/management/commands/remove_expired_users_from_chat.py
Due: py-flake8
