Repository vas3k/vas3k.club: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, py-flake8

yamllint:
  name: yamllint
  entry: yamllint --config-file ./.yamllint
  language: system
  always_run: false
  pass_filenames: true

py-flake8:
  name: py-flake8
  entry: flake8 --config setup.cfg
  language: system
  always_run: false
  pass_filenames: true

Update urls.py
  club/urls.py
Due: py-flake8

Add names to tags
  users/api.py
Due: py-flake8

Добавлен фильтр по дате и публичности в RSS-фид
  posts/rss.py
Due: py-flake8

feat: room only
  bot/handlers/moderation.py
  etc/crontab
  notifications/email/sender.py
  notifications/telegram/posts.py
  notifications/telegram/templates/messages/post_approved_in_room.html
Due: py-flake8

static: vas3k flot achievement
  common/data/achievements.py
  frontend/static/images/achievements/vas3k_flot_2025.png
Due: py-flake8

fix: invite error
  invites/views.py
Due: py-flake8

feat: update easymde
  frontend/package-lock.json
  frontend/package.json
  frontend/static/css/components/compose.css
  frontend/static/js/App.js
  frontend/static/js/common/markdown-editor.js
Due: none

try to fix #1177: remove contenteditable from easymde
  frontend/static/js/common/markdown-editor.js
Due: none

fix: maybe maybe?
  frontend/static/js/App.js
Due: none

feat: give mass achievements by urls
  common/regexp.py
  godmode/pages/mass_achievement.py
Due: py-flake8

fix: collectible tags not shown after moderation
  frontend/html/posts/widgets/collectible_tag.html
Due: none

fix: is_room_only moderation bug
  posts/forms/compose.py
Due: py-flake8

fix: broken logic for toxic label
  posts/views/feed.py
Due: py-flake8

feat: show pending posts to mods
  frontend/html/feed.html
  posts/views/feed.py
Due: py-flake8

static: add club_services label
  common/data/labels.py
Due: py-flake8

fixed upvote button overlap with post images
  frontend/static/css/components/posts.css
Due: none

fix: upvote button overlap with post images (#1342)
  frontend/static/css/components/posts.css
Due: none

feat: API for tags (#1197)
  club/urls.py
  users/api.py
Due: py-flake8

feat: give mass achievements by urls (#1341)
  common/regexp.py
  godmode/pages/mass_achievement.py
Due: py-flake8

feat: bit more moderations features
  bot/handlers/moderation.py
  frontend/html/godmode/pages/moderation.html
  godmode/config.py
  godmode/pages/moderation.py
Due: py-flake8

feat: show upcoming events in daily digest
  notifications/digests.py
  notifications/telegram/templates/messages/good_morning.html
Due: py-flake8

feat: admin actions to ban in chats
  godmode/actions/post_pin.py
  godmode/actions/user_delete.py
Due: py-flake8

fix: bad import
  godmode/actions/user_delete.py
Due: py-flake8

fix path in docker compose
  docker-compose.production.yml
Due: yamllint

fix backup path for backup service
  docker-compose.production.yml
Due: yamllint

new deployment
  .github/workflows/deploy.yml
  .github/workflows/manual_deploy.yml
  .github/workflows/only_deploy.yml
  docker-compose.production.yml
Due: yamllint

package-lock json should use node 14
  frontend/package-lock.json
Due: none

fix networks in docker compose prodution
  docker-compose.production.yml
Due: yamllint

remove networks
  docker-compose.production.yml
Due: yamllint

fix env file location
  docker-compose.production.yml
Due: yamllint

update docker compose production
  docker-compose.production.yml
Due: yamllint

fix helpdesk bot compose config
  docker-compose.production.yml
Due: yamllint

fix redis connection
  docker-compose.production.yml
Due: yamllint

fix: update badge generator
  frontend/html/godmode/pages/badge_generator.html
  frontend/static/css/components/godmode.css
  frontend/static/css/components/profile.css
  godmode/pages/badge_generator.py
  users/views/profile.py
Due: py-flake8

fix: pg connection check + badge generator
  club/settings.py
  frontend/static/css/components/godmode.css
  godmode/pages/badge_generator.py
Due: py-flake8

fix: less api calls, fetch friends on backend + optimize workers
  Makefile
  authn/context_processors/users.py
  club/settings.py
  frontend/html/users/widgets/card.html
  frontend/static/js/components/FriendButton.vue
  users/context_processors/__init__.py
  users/context_processors/users.py
Due: py-flake8

fix: menu vertical align and padding, readme typo
  frontend/static/css/components/menu.css
Due: none

fix: menu vertical align and padding (#1348)
  frontend/static/css/components/menu.css
Due: none

fix: update psycopg, use connection pooling
  Pipfile
  Pipfile.lock
  club/settings.py
Due: py-flake8

feat: normalize url in markdown + disable mentions in bio
  common/markdown/club_renderer.py
  common/markdown/common.py
  common/markdown/markdown.py
  frontend/html/users/widgets/card.html
  posts/templatetags/text_filters.py
Due: py-flake8

Path conditions:
  yamllint: any of: .*\.(yaml|yml)$
  py-flake8: any of: .*\.py$
