Repository vas3k/vas3k.club: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, py-flake8

.pre-commit-config.yaml:

---
default_stages: [pre-commit, pre-push]
fail_fast: false

repos:
  - repo: local
    hooks:
      #
      # YAML
      - id: yamllint
        name: yamllint
        files: .*\.(yaml|yml)$
        entry: yamllint --config-file ./.yamllint
        language: system
        always_run: false
        pass_filenames: true

      #
      # Python
      - id: py-flake8
        name: py-flake8
        files: .*\.py$
        entry: flake8 --config setup.cfg
        language: system
        always_run: false
        pass_filenames: true

      #
      # POST-CHECKOUT
      # optional, need to be installed with: pre-commit install -t post-checkout
      - id: git-pull
        name: git pull
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && git pull --all || true'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

      - id: git-branch-delete-stale
        name: Delete stale committed branches
        # yamllint disable-line rule:line-length
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && (git fetch -p && git branch -vv | grep ":\ gone]" | awk "{ print \$1 }" | xargs git branch -D) || true' --
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

docs: more info for newcommers
  frontend/html/docs/about.html
  frontend/html/emails/welcome.html
  frontend/html/users/messages/on_review.html
Due: none

fix: use button in user-tag instead of a
  frontend/static/css/components/profile.css
  frontend/static/js/components/UserTag.vue
Due: none

static: add vas3k flot 2024 achievement
  common/data/achievements.py
  frontend/static/images/achievements/vas3k_flot_2024.png
Due: py-flake8

static: fix vas3k flot 2024 color
  common/data/achievements.py
Due: py-flake8

Возвращаем пустую дату если нет подписки
  payments/cloudpayments.py
Due: py-flake8

тестим новый пароль
  docker-compose.production.yml
Due: yamllint

fix: patreon changed auth API and broke legacy users
  authn/providers/patreon.py
  authn/views/patreon.py
Due: py-flake8

feat: support wide videos
  common/markdown/club_renderer.py
  frontend/static/css/components/posts.css
Due: py-flake8

Даю доступ к добавленю в календари
  misc/views.py
Due: py-flake8

feat: remove intros from posts search + new achievement
  common/data/achievements.py
  frontend/static/images/achievements/grill_master.png
  search/views.py
Due: py-flake8

Меняем стоимость на 799
  frontend/html/payments/blocks/packages.html
  payments/cloudpayments.py
Due: py-flake8

fix: update twemoji cdn
  frontend/package-lock.json
  frontend/package.json
  frontend/static/js/App.js
Due: none

Update achievements.py to add spooky achievement
  common/data/achievements.py
Due: py-flake8

Added spooky achievement file
  frontend/static/images/achievements/spooky.png
Due: none

Новая стоимость и немного нового текста
  frontend/html/auth/join.html
  frontend/html/payments/blocks/packages.html
  frontend/html/users/edit/payments.html
  frontend/static/css/components/auth.css
  payments/views/cloudpayments.py
Due: py-flake8

отбивка в соответствии с гайдом чеееек
  frontend/html/emails/rejected/name.html
Due: none

static: add spooky achievement (#1260)
  common/data/achievements.py
  frontend/static/images/achievements/spooky.png
Due: py-flake8

doc: reject by name text (#1262)
  frontend/html/emails/rejected/name.html
Due: none

fix: digest 500 error
  etc/nginx/i.vas3k.club.conf
  notifications/digests.py
Due: py-flake8

feat: room subscription and mute (secret beta, don't tell anyone)
  bot/handlers/moderation.py
  club/urls.py
  frontend/html/feed.html
  frontend/html/posts/show/battle.html
  frontend/html/posts/show/layout.html
  frontend/html/rooms/widgets/feed_header.html
  frontend/static/css/components/feed.css
  frontend/static/css/components/posts.css
  frontend/static/js/components/Toggle.vue
  frontend/static/js/main.js
  gdpr/forget.py
  notifications/signals/comments.py
  notifications/telegram/posts.py
  notifications/telegram/templates/messages/post_collectible_tag.html
  notifications/telegram/templates/messages/post_room_subscriber.html
  posts/renderers.py
  posts/views/feed.py
  rooms/models.py
  rooms/templatetags/__init__.py
  rooms/templatetags/rooms.py
  rooms/views.py
  users/admin.py
  users/models/mute.py
  users/views/muted.py
  users/views/profile.py
Due: py-flake8

fix: oops, forgot migration
  rooms/migrations/0004_roommuted_roomsubscription.py
Due: py-flake8

feat: allow uploading webp images
  frontend/static/js/common/markdown-editor.js
Due: none

feat: allow uploading webp images (#1263)
  frontend/static/js/common/markdown-editor.js
Due: none

css: white border for room subs
  frontend/static/css/components/feed.css
Due: none

кнопка-прилипала
  frontend/static/css/components/posts.css
Due: none

вернул для мобилок и планшетов как было, стики только для PC
  frontend/static/css/components/posts.css
Due: none

feat: sticky upvote (#1264)
  frontend/static/css/components/posts.css
Due: none

увеличиваем область ссылок на комменты
  frontend/static/css/components/feed.css
Due: none

fix: increase padding for comment link (#1265)
  frontend/static/css/components/feed.css
Due: none

Revert "fix: increase padding for comment link (#1265)"
  frontend/static/css/components/feed.css
Due: none

Revert "fix: increase padding for comment link (#1265)" (#1266)
  frontend/static/css/components/feed.css
Due: none

fix: blyat, i muted myself
  posts/views/feed.py
Due: py-flake8

feat: image detection in telegram notifications (test version)
  common/regexp.py
  notifications/telegram/common.py
Due: py-flake8

fix: bot replies to pictures
  bot/handlers/comments.py
  bot/handlers/upvotes.py
Due: py-flake8

fix: bot replies to pictures
  bot/handlers/comments.py
  bot/handlers/upvotes.py
  bot/main.py
Due: py-flake8

fix: more logs to debug
  bot/handlers/comments.py
  bot/handlers/common.py
  bot/handlers/upvotes.py
  bot/main.py
Due: py-flake8

fix: ah sooo
  bot/handlers/comments.py
  bot/handlers/common.py
Due: py-flake8
