Repository vas3k/vas3k.club: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, py-flake8

.pre-commit-config.yaml:

---
default_stages: [pre-commit, pre-push]
fail_fast: false

repos:
  - repo: local
    hooks:
      #
      # YAML
      - id: yamllint
        name: yamllint
        files: .*\.(yaml|yml)$
        entry: yamllint --config-file ./.yamllint
        language: system
        always_run: false
        pass_filenames: true

      #
      # Python
      - id: py-flake8
        name: py-flake8
        files: .*\.py$
        entry: flake8 --config setup.cfg
        language: system
        always_run: false
        pass_filenames: true

      #
      # POST-CHECKOUT
      # optional, need to be installed with: pre-commit install -t post-checkout
      - id: git-pull
        name: git pull
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && git pull --all || true'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

      - id: git-branch-delete-stale
        name: Delete stale committed branches
        # yamllint disable-line rule:line-length
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && (git fetch -p && git branch -vv | grep ":\ gone]" | awk "{ print \$1 }" | xargs git branch -D) || true' --
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

fix: sitemap and email errors
  club/settings.py
Due: py-flake8

feat: subscription expired notifications
  README.md
  common/messages.py
  docker-compose.production.yml
  docs/install_checklist.md
  docs/setup.md
  docs/tech_guide.md
  docs/test.md
  etc/crontab
  frontend/html/emails/markdown_message.html
  frontend/html/emails/subscription_expired.html
  frontend/messages/payments/subscription/about_to_expire.md
  frontend/messages/payments/subscription/expired.md
  frontend/messages/payments/subscription/last_call.md
  notifications/telegram/templates/messages/subscription_expired.html
  payments/management/commands/send_subscription_expired.py
  payments/management/commands/send_subscription_notifications.py
  payments/tests/test_subscription_notifications.py
  rooms/helpers.py
  rooms/tests/test_helpers.py
Due: yamllint, py-flake8

fix: subscription expire message
  frontend/messages/payments/subscription/expired.md
  frontend/messages/payments/subscription/last_call.md
  payments/management/commands/send_subscription_notifications.py
  payments/tests/test_subscription_notifications.py
Due: py-flake8

feat: achievements card animation
  frontend/html/achievements/show_achievement.html
  frontend/messages/payments/subscription/expired.md
  frontend/messages/payments/subscription/last_call.md
  frontend/static/css/components/achievements.css
  frontend/static/css/components/profile.css
  frontend/static/css/components/stats.css
  frontend/static/css/index.css
  frontend/static/js/common/achievements-cards.js
  frontend/static/js/main.js
Due: none

fix: tests
  payments/tests/test_subscription_notifications.py
Due: py-flake8

fix: achievement css
  frontend/html/achievements/widgets/achievement.html
  frontend/static/css/components/achievements.css
  frontend/static/js/common/achievements-cards.js
  frontend/static/js/main.js
Due: none

fix: inline attachment bug
  frontend/jest.config.js
  frontend/static/css/components/stats.css
  frontend/static/js/components/MarkdownEditor/MobileMarkdownEditor.vue
  frontend/static/js/main.js
  frontend/static/js/vendor/inline-attachment/codemirror4.js
  frontend/static/js/vendor/inline-attachment/core.js
  frontend/static/js/vendor/inline-attachment/index.js
Due: none

fix: ipad useragent
  frontend/static/js/__tests__/utils.test.js
  frontend/static/js/common/utils.js
Due: none

fix: raw template tag in achievement page title
  frontend/html/achievements/show_achievement.html
Due: none

fix: raw template tag in achievement page title (#1501)
  frontend/html/achievements/show_achievement.html
Due: none

static: vas3k retreat achievement
  common/data/achievements.py
  frontend/static/images/achievements/vas3k_retreat.webp
Due: py-flake8

fix: SimpleArrayField in admin
  godmode/admin.py
Due: py-flake8

security: fix 20+ vulnerabilities incl. critical account takeover (see PR body)
  ai/tools.py
  authn/decorators/api.py
  authn/helpers.py
  authn/models/openid.py
  authn/providers/openid.py
  badges/models.py
  bot/handlers/auth.py
  bot/handlers/moderation.py
  bot/handlers/upvotes.py
  bot/handlers/whois.py
  bot/main.py
  club/settings.py
  club/urls.py
  common/flat_earth.py
  common/images.py
  common/request.py
  docker-compose.production.yml
  etc/nginx/vas3k.club.conf
  godmode/config.py
  godmode/filters.py
  godmode/views/main.py
  helpdeskbot/config.py
  helpdeskbot/main.py
  invites/views.py
  notifications/telegram/comments.py
  notifications/telegram/posts.py
  notifications/telegram/users.py
  notifications/views.py
  payments/models.py
  payments/views/stripe.py
  posts/api.py
  users/api.py
Due: yamllint, py-flake8

feat: unsubscribe links use hmac instead of secret_hash
  authn/tests/test_auth_views.py
  frontend/html/emails/welcome.html
  notifications/digests.py
  notifications/email/custom.py
  notifications/email/users.py
  notifications/helpers.py
  notifications/management/commands/notify_expired_intros.py
  notifications/management/commands/send_weekly_digest.py
  notifications/tests/test_helpers.py
  notifications/tests/test_views.py
  notifications/views.py
  payments/management/commands/send_subscription_notifications.py
Due: py-flake8

fix: combine hmac+secret_hash
  notifications/helpers.py
  notifications/tests/test_helpers.py
Due: py-flake8

feat: use django signer for notif tokens
  club/settings.py
  notifications/helpers.py
  notifications/tests/test_helpers.py
  notifications/tests/test_views.py
Due: py-flake8

Fix FieldError in badges.json endpoint
  users/api.py
Due: py-flake8

fix: FieldError in badges.json endpoint (#1504)
  users/api.py
Due: py-flake8

Fix badges.json 500 on any badge: guard null post/comment in UserBadge.to_dict
  badges/models.py
  badges/tests/test_badges.py
Due: py-flake8

Preserve type/ordering when searching from the topbar (#1206)
  frontend/html/common/menu-full.html
  search/tests/test_search.py
Due: py-flake8

Fix duplicate search results across paginated pages (#1213)
  search/tests/test_search.py
  search/views.py
Due: py-flake8

CI: fail lint on flake8 violations introduced by a PR (#1128)
  .github/workflows/tests.yml
  pyproject.toml
  uv.lock
Due: yamllint

fix: badges.json 500 on any badge: guard null post/comment in UserBadge.to_dict (#1505)
  badges/models.py
  badges/tests/test_badges.py
Due: py-flake8

fix: check stripe user before cancelling subscription
  payments/tests/test_views.py
  payments/views/stripe.py
Due: py-flake8

fix: invite activation for new users
  invites/tests/test_activate_invite.py
  invites/views.py
Due: py-flake8

fix: require auth for posts api
  posts/api.py
Due: py-flake8

fix: configurable post.description len
  club/settings.py
  posts/models/post.py
Due: py-flake8

fix: invite code race condition
  invites/tests/test_activate_invite.py
  invites/views.py
Due: py-flake8

feat: make announce post text longer
  notifications/telegram/templates/messages/channel_post_announce.html
Due: none

fix: disable slug login
  authn/views/email.py
Due: py-flake8

feat: limit by IP and useragent to codes and sessions
  authn/migrations/0010_code_ipaddress_useragent.py
  authn/migrations/0011_session_ipaddress_useragent.py
  authn/models/session.py
  authn/tests/test_auth_views.py
  authn/tests/test_authn.py
  authn/views/debug.py
  authn/views/email.py
  club/settings.py
  frontend/html/auth/login.html
  invites/views.py
  users/views/delete_account.py
Due: py-flake8

fix: tests
  authn/tests/test_auth_views.py
Due: py-flake8

feat: sessions page, alphanumeric codes, cleanup
  authn/management/commands/cleanup_old_oauth_tokens.py
  authn/models/session.py
  authn/tests/test_auth_views.py
  authn/tests/test_authn.py
  authn/tests/test_cleanup_old_oauth_tokens.py
  authn/views/email.py
  club/settings.py
  club/urls.py
  common/request.py
  common/tests/test_request.py
  frontend/html/auth/email.html
  frontend/html/emails/auth.html
  frontend/html/users/edit/index.html
  frontend/html/users/edit/sessions.html
  frontend/html/users/messages/delete_account_requested.html
  frontend/static/css/components/auth.css
  frontend/static/css/components/profile.css
  users/tests/test_settings.py
  users/views/settings.py
  utils/strings.py
Due: py-flake8

feat: fill missing session request info
  authn/helpers.py
  authn/tests/test_authn.py
Due: py-flake8

fix: tests
  authn/tests/test_authn.py
  frontend/html/users/edit/sessions.html
Due: py-flake8

feat: deactivate all sessions
  club/urls.py
  frontend/html/users/edit/sessions.html
  frontend/static/css/components/profile.css
  users/tests/test_settings.py
  users/views/settings.py
Due: py-flake8

feat: deactivate all sessions
  users/tests/test_settings.py
Due: py-flake8

fix: update cache when backfilling session
  authn/helpers.py
Due: py-flake8

fix: escape urls (#1512)
  common/markdown/club_renderer.py
  common/markdown/telegram_renderer.py
Due: py-flake8
