Repository vas3k/vas3k.club: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, py-flake8

.pre-commit-config.yaml:

---
default_stages: [pre-commit, pre-push]
fail_fast: false

repos:
  - repo: local
    hooks:
      #
      # YAML
      - id: yamllint
        name: yamllint
        files: .*\.(yaml|yml)$
        entry: yamllint --config-file ./.yamllint
        language: system
        always_run: false
        pass_filenames: true

      #
      # Python
      - id: py-flake8
        name: py-flake8
        files: .*\.py$
        entry: flake8 --config setup.cfg
        language: system
        always_run: false
        pass_filenames: true

      #
      # POST-CHECKOUT
      # optional, need to be installed with: pre-commit install -t post-checkout
      - id: git-pull
        name: git pull
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && git pull --all || true'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

      - id: git-branch-delete-stale
        name: Delete stale committed branches
        # yamllint disable-line rule:line-length
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && (git fetch -p && git branch -vv | grep ":\ gone]" | awk "{ print \$1 }" | xargs git branch -D) || true' --
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

fix: admin page form
  frontend/html/godmode/pages/simple_form.html
Due: none

fix: better comment restriction message
  comments/templatetags/comments.py
  comments/views.py
  frontend/html/comments/forms/battle.html
  frontend/html/comments/forms/comment.html
  frontend/html/comments/widgets/limit.html
  frontend/html/godmode/pages/simple_form.html
  frontend/html/posts/widgets/join_the_club.html
  frontend/html/posts/widgets/membership_expired.html
  frontend/html/posts/widgets/not_commentable.html
  frontend/static/css/components/comments.css
  frontend/static/css/components/intro.css
  posts/models/post.py
  users/models/user.py
Due: py-flake8

feat: canonical urls for posts
  frontend/html/common/meta.html
  frontend/html/layout.html
Due: none

fix: intro info, delete fix
  frontend/html/users/intro.html
  gdpr/forget.py
Due: py-flake8

fix docker compose and paths
  .github/workflows/check_build_and_run.yml
  .github/workflows/deploy.yml
  .github/workflows/manual_deploy.yml
  .github/workflows/only_deploy.yml
  CONTRIBUTING.md
  README.md
  docs/setup.md
  docs/test.md
Due: yamllint

fix networks
  docker-compose.production.yml
  docker-compose.yml
Due: yamllint

Update docker-compose.production.yml
  docker-compose.production.yml
Due: yamllint

add pmi_network
  docker-compose.production.yml
Due: yamllint

Update production Docker Compose configuration
  docker-compose.production.yml
Due: yamllint

update docker production
  docker-compose.production.yml
Due: yamllint

fix: Room.icon must be CharField
  rooms/migrations/0006_alter_room_icon.py
  rooms/models.py
Due: py-flake8

fix: migrations
  badges/migrations/0005_alter_userbadge_options.py
  bookmarks/migrations/0002_alter_postbookmark_options.py
  comments/migrations/0010_alter_comment_options.py
  gdpr/migrations/0002_alter_datarequests_options.py
  invites/migrations/0004_alter_invite_options.py
  posts/migrations/0031_alter_linkedpost_options.py
  tags/migrations/0002_alter_usertag_options.py
  users/migrations/0034_alter_friend_options_alter_user_options_and_more.py
Due: py-flake8

fix: Room.icon must be CharField (#1335)
  rooms/migrations/0006_alter_room_icon.py
  rooms/models.py
Due: py-flake8

Prepare for migration
  docker-compose.production.yml
  frontend/html/payments/pay.html
  frontend/html/users/admin.html
  frontend/package-lock.json
  frontend/package.json
  frontend/static/js/components/StripeCheckoutButton.vue
  frontend/static/js/main.js
Due: yamllint

fix: migrations + settings to key-value
  badges/migrations/0005_alter_userbadge_options.py
  bookmarks/migrations/0002_alter_postbookmark_options.py
  club/settings.py
  comments/migrations/0010_alter_comment_options.py
  frontend/html/users/edit/account.html
  gdpr/migrations/0002_alter_datarequests_options.py
  godmode/migrations/0002_remove_clubsettings_digest_intro_and_more.py
  godmode/models.py
  godmode/pages/digest.py
  invites/migrations/0004_alter_invite_options.py
  notifications/digests.py
  notifications/management/commands/send_weekly_digest.py
  posts/migrations/0031_alter_linkedpost_options.py
  tags/migrations/0002_alter_usertag_options.py
  users/migrations/0034_alter_friend_options_alter_user_options_and_more.py
Due: py-flake8

feat: new db settings
  club/context_processors.py
  club/settings.py
  frontend/html/layout.html
  godmode/migrations/0002_remove_clubsettings_digest_intro_and_more.py
  godmode/models.py
  posts/templatetags/posts.py
Due: py-flake8

fix: comment css
  frontend/static/css/components/comments.css
Due: none

feat: move moderation and curation to godmode
  club/urls.py
  frontend/html/godmode/action.html
  frontend/html/godmode/actions/user_ban.html
  frontend/html/godmode/create.html
  frontend/html/godmode/edit.html
  frontend/html/godmode/layout.html
  frontend/html/godmode/list.html
  frontend/html/godmode/page.html
  frontend/html/godmode/pages/simple_form.html
  frontend/html/posts/admin.html
  frontend/html/posts/widgets/post_actions_line.html
  frontend/html/users/admin.html
  frontend/html/users/profile.html
  frontend/static/css/components/godmode.css
  godmode/actions/__init__.py
  godmode/actions/post_announce.py
  godmode/actions/post_comments.py
  godmode/actions/post_feeds.py
  godmode/actions/post_label.py
  godmode/actions/post_owner.py
  godmode/actions/post_pin.py
  godmode/actions/post_view.py
  godmode/actions/user_achievement.py
  godmode/actions/user_ban.py
  godmode/actions/user_delete.py
  godmode/actions/user_hat.py
  godmode/actions/user_ping.py
  godmode/actions/user_profile.py
  godmode/actions/user_prolong.py
  godmode/actions/user_role.py
  godmode/actions/user_unmoderate.py
  godmode/admin.py
  godmode/config.py
  godmode/views/main.py
  notifications/telegram/templates/messages/channel_post_announce.html
  posts/forms/admin.py
  posts/views/admin_actions.py
  users/forms/admin.py
  users/views/admin_actions.py
Due: py-flake8

fix: better config for curators
  frontend/html/common/menu-full.html
  frontend/html/godmode/layout.html
  godmode/config.py
Due: py-flake8

fix: better config for gods
  godmode/config.py
  godmode/views/main.py
Due: py-flake8

feat(godmode): join collectible tags
  godmode/actions/tag_join.py
  godmode/config.py
  tags/models.py
Due: py-flake8

fix: cleanup + ai update
  ai/assistant.py
  ai/config.py
  club/settings.py
  tags/management/commands/join_tags.py
  users/management/commands/add_achievement.py
Due: py-flake8

fix: moderator contact url
  notifications/telegram/users.py
Due: py-flake8

fix(search): Reverse for 'show_post' with arguments '('', '')' not found
  frontend/html/search.html
Due: none

fix: errors in feeds and search, remove unused endpoints
  .github/workflows/deploy.yml
  club/settings.py
  club/urls.py
  frontend/html/payments/crypto.html
  payments/views/crypto.py
  posts/api.py
  posts/models/post.py
Due: yamllint, py-flake8

fix: urls
  club/urls.py
Due: py-flake8

fix: compose form
  posts/forms/compose.py
  posts/management/commands/update_hotness.py
Due: py-flake8

fix: compose
  frontend/html/posts/compose/elements/save_buttons.html
Due: none

fix: moderation badge
  frontend/html/posts/compose/battle.html
  frontend/html/posts/compose/docs.html
  frontend/html/posts/compose/elements/save_buttons.html
  frontend/html/posts/compose/event.html
  frontend/html/posts/compose/guide.html
  frontend/html/posts/compose/idea.html
  frontend/html/posts/compose/intro.html
  frontend/html/posts/compose/link.html
  frontend/html/posts/compose/post.html
  frontend/html/posts/compose/project.html
  frontend/html/posts/compose/question.html
  frontend/html/posts/compose/thread.html
  frontend/html/posts/items/battle.html
  frontend/html/posts/items/event.html
  frontend/html/posts/items/idea.html
  frontend/html/posts/items/link.html
  frontend/html/posts/items/post.html
  frontend/html/posts/items/project.html
  frontend/html/posts/items/question.html
  posts/models/post.py
Due: py-flake8

fix: remove deprecated post fields
  posts/migrations/0035_remove_post_is_approved_by_moderator_and_more.py
  posts/models/post.py
Due: py-flake8

fix: post publishing
  bot/handlers/moderation.py
  notifications/signals/posts.py
  notifications/telegram/posts.py
  posts/views/posts.py
Due: py-flake8

fix: post re-publishing
  notifications/signals/posts.py
  notifications/telegram/posts.py
  posts/models/post.py
  posts/views/posts.py
Due: py-flake8

fix: new moderation status + replay pending
  etc/crontab
  notifications/apps.py
  notifications/signals/users.py
  posts/management/commands/replay_pending_moderation_posts.py
  posts/migrations/0036_alter_post_moderation_status.py
  posts/models/post.py
Due: py-flake8

feat: call notifications directly instead of signals
  badges/views.py
  godmode/actions/user_achievement.py
  godmode/pages/mass_achievement.py
  notifications/apps.py
  notifications/email/achievements.py
  notifications/email/badges.py
  notifications/signals/achievements.py
  notifications/signals/badges.py
  notifications/telegram/achievements.py
  notifications/telegram/badges.py
  posts/views/posts.py
  tickets/views.py
Due: py-flake8

fix: moderation bug
  bot/handlers/moderation.py
Due: py-flake8

fix: weird bug on migration
  tickets/models.py
Due: py-flake8

fix: post.is_visible -> is_draft
  comments/views.py
  frontend/html/posts/show/battle.html
  frontend/html/posts/show/layout.html
  frontend/html/posts/widgets/post_actions_line.html
  notifications/signals/comments.py
  posts/models/linked.py
  posts/models/post.py
  posts/views/posts.py
  search/models.py
Due: py-flake8

fix: digest + rooms sorting
  notifications/management/commands/send_weekly_digest.py
  rooms/models.py
Due: py-flake8

Update api.py
  users/api.py
Due: py-flake8
