Repository vas3k/vas3k.club: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, py-flake8

.pre-commit-config.yaml:

---
default_stages: [pre-commit, pre-push]
fail_fast: false

repos:
  - repo: local
    hooks:
      #
      # YAML
      - id: yamllint
        name: yamllint
        files: .*\.(yaml|yml)$
        entry: yamllint --config-file ./.yamllint
        language: system
        always_run: false
        pass_filenames: true

      #
      # Python
      - id: py-flake8
        name: py-flake8
        files: .*\.py$
        entry: flake8 --config setup.cfg
        language: system
        always_run: false
        pass_filenames: true

      #
      # POST-CHECKOUT
      # optional, need to be installed with: pre-commit install -t post-checkout
      - id: git-pull
        name: git pull
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && git pull --all || true'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

      - id: git-branch-delete-stale
        name: Delete stale committed branches
        # yamllint disable-line rule:line-length
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && (git fetch -p && git branch -vv | grep ":\ gone]" | awk "{ print \$1 }" | xargs git branch -D) || true' --
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

Add start button on finish/cancel
  helpdeskbot/handlers/question.py
Due: py-flake8

feat(helpdesk): add start button on finish/cancel (#1209)
  helpdeskbot/handlers/question.py
Due: py-flake8

feat(helpdesk): add answers database
  helpdeskbot/handlers/answers.py
  helpdeskbot/migrations/0002_auto_20240615_2029.py
  helpdeskbot/models.py
  helpdeskbot/templates/messages/helpdeskbot_answer_notification.html
Due: py-flake8

fix: migration
  helpdeskbot/migrations/0002_auto_20240615_2029.py
Due: py-flake8

feat(helpdesk): admin ui
  helpdeskbot/admin.py
  helpdeskbot/models.py
Due: py-flake8

fix(helpdesk): admin models
  helpdeskbot/admin.py
Due: py-flake8

feat(helpdesk): add cancel option
  helpdeskbot/handlers/question.py
Due: py-flake8

feat(helpdesk): first real deployment
  helpdeskbot/main.py
  helpdeskbot/templates/messages/helpdeskbot_question_in_room.html
  helpdeskbot/templates/messages/helpdeskbot_welcome.html
Due: py-flake8

fix(helpdesk): better exception handling
  helpdeskbot/handlers/question.py
  helpdeskbot/templates/messages/helpdeskbot_answer_notification.html
Due: py-flake8

feat(helpdesk): add answer confirmation to rooms
  helpdeskbot/handlers/answers.py
  helpdeskbot/templates/messages/helpdeskbot_answer_notification.html
Due: py-flake8

fix(helpdesk): answer confirmation link
  helpdeskbot/handlers/answers.py
  helpdeskbot/templates/messages/helpdeskbot_answer_notification.html
Due: py-flake8

static: update link to helpdesk bot
  notifications/telegram/templates/messages/post_rejected/chat.html
Due: none

fix(helpdesk): template improvements
  helpdeskbot/handlers/question.py
  helpdeskbot/templates/messages/helpdeskbot_answer_from_room.html
  helpdeskbot/templates/messages/helpdeskbot_answer_notification.html
Due: py-flake8

fix(helpdesk): small ui bugs
  helpdeskbot/handlers/answers.py
  helpdeskbot/templates/messages/helpdeskbot_answer_from_room.html
  helpdeskbot/templates/messages/helpdeskbot_answer_notification.html
Due: py-flake8

digest_avatar_fix
  frontend/html/emails/layout.html
Due: none

fix: digest avatar css (#1211)
  frontend/html/emails/layout.html
Due: none

Убраны ссылки на хорошие интро
  frontend/html/users/intro.html
Due: none

Опечатка
  frontend/html/emails/welcome.html
Due: none

feat: better link view for projects
  frontend/html/posts/show/project.html
  frontend/static/css/components/posts.css
Due: none

fix: force word break in project link CSS
  frontend/static/css/components/posts.css
Due: none

fix: add "type=prof" rooms to helpdeskbot too
  helpdeskbot/room.py
Due: py-flake8

Импорт постов в дев
  authn/management/commands/import_posts_to_dev.py
Due: py-flake8

Правки от @igoose1 кроме доки, дока на мнение сообщества
  authn/management/commands/import_posts_to_dev.py
Due: py-flake8

feat: script to import public posts to local dev env (#1212)
  authn/management/commands/import_posts_to_dev.py
  docs/setup.md
Due: py-flake8

Ссылка в письме
  frontend/html/emails/layout.html
Due: none

Убран Stripe
  frontend/html/auth/join.html
  frontend/html/docs/blocked_dolor.html
Due: none

Фавиконка
  frontend/static/images/favicon/android-chrome-192x192.png
  frontend/static/images/favicon/android-chrome-512x512.png
  frontend/static/images/favicon/apple-touch-icon.png
  frontend/static/images/favicon/favicon-16x16.png
  frontend/static/images/favicon/favicon-32x32.png
  frontend/static/images/favicon/favicon.ico
  frontend/static/images/favicon/site.webmanifest
Due: none

minorfix. Работа над ошибками.
  posts/management/commands/import_posts_to_dev.py
Due: py-flake8

Заготовка/Драфт под мантикору
  docker-compose.yml
  search/management/commands/rebuild_manticore_index.py
  utils/manticore.py
Due: yamllint, py-flake8

Фикс отсутствия хороших постов
  posts/management/commands/promote_one_old_post_on_main.py
Due: py-flake8

security fix
  authn/views/email.py
  club/urls.py
  frontend/html/layout.html
  notifications/views.py
Due: py-flake8

security fix
  club/urls.py
Due: py-flake8

club launch date
  club/settings.py
Due: py-flake8

refactor: one form for comment replies
  frontend/html/comments/list.html
  frontend/html/posts/show/layout.html
  frontend/static/js/components/CommentMarkdownEditor.vue
  frontend/static/js/components/ReplyContainer.vue
  frontend/static/js/main.js
Due: none

refactor: remove forms for other comments
  frontend/html/comments/types/bold.html
  frontend/html/comments/types/normal.html
Due: none

refactor: migrate battle topics to css grid
  frontend/html/comments/types/battle.html
  frontend/html/posts/show/battle.html
  frontend/static/css/components/comments.css
  frontend/static/css/components/posts.css
Due: none

refactor: place comment form correctly for pinned posts
  frontend/html/comments/types/bold.html
Due: none

refactor: add prop types
  frontend/static/js/components/ReplyContainer.vue
Due: none

refactor: remove old reply form
  frontend/html/comments/forms/reply.html
Due: none

refactor: remove answer `withSelection`
  frontend/html/comments/types/battle.html
  frontend/html/comments/types/bold.html
  frontend/html/comments/types/normal.html
  frontend/html/comments/types/reply.html
  frontend/static/js/components/ReplyContainer.vue
  frontend/static/js/main.js
Due: none
