Repository vas3k/vas3k.club: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, py-flake8

yamllint:
  name: yamllint
  entry: yamllint --config-file ./.yamllint
  language: system
  always_run: false
  pass_filenames: true

py-flake8:
  name: py-flake8
  entry: flake8 --config setup.cfg
  language: system
  always_run: false
  pass_filenames: true

fix(markdown): escape URLs in twitter embeds to prevent XSS
  common/markdown/club_renderer.py
Due: py-flake8

fix(telegram): escape HTML in outputs to prevent injection
  bot/handlers/whois.py
  common/markdown/telegram_renderer.py
Due: py-flake8

fix(posts): restrict favicon image handling to prevent XSS
  posts/templatetags/posts.py
Due: py-flake8

fix(security): escape user-controlled values in HTML, email, Telegram, and CSS contexts (#1389)
  bot/handlers/whois.py
  common/markdown/club_renderer.py
  common/markdown/email_renderer.py
  common/markdown/telegram_renderer.py
  notifications/telegram/achievements.py
  notifications/telegram/ban.py
  notifications/telegram/muted.py
  posts/templatetags/posts.py
Due: py-flake8

fix(security): harden GDPR archive generation and cleanup
  gdpr/archive.py
  gdpr/tests.py
Due: py-flake8

fix(security): harden GDPR archive generation and cleanup (#1391)
  gdpr/archive.py
  gdpr/tests.py
Due: py-flake8

fix: batch DB lookups to eliminate N+1 queries, narrow UPDATE with update_fields
  comments/templatetags/comments.py
  comments/tests/test_template_tags.py
  notifications/telegram/comments.py
  notifications/telegram/posts.py
  notifications/telegram/test_notifications.py
  posts/models/linked.py
  posts/templatetags/posts.py
  posts/tests/test_linked_posts.py
  posts/tests/test_template_tags.py
  rooms/management/commands/bulk_chat_action.py
  rooms/tests/__init__.py
  rooms/tests/test_bulk_chat_action.py
Due: py-flake8

fix: lazy-load templates in templatetags to prevent tag registry corruption
  common/embeds.py
  posts/templatetags/battle.py
  posts/templatetags/posts.py
Due: py-flake8

refactor: iterate .values() instead of redundant dict key lookup
  notifications/telegram/comments.py
  notifications/telegram/posts.py
  posts/models/linked.py
Due: py-flake8

perf(people): replace in-memory aggregation with SQL queries
  frontend/html/users/people.html
  tags/models.py
  users/tests/__init__.py
  users/tests/test_people.py
  users/views/people.py
Due: py-flake8

fix: batch DB lookups to eliminate N+1 queries, narrow UPDATE with update_fields (#1392)
  comments/templatetags/comments.py
  comments/tests/test_template_tags.py
  common/embeds.py
  notifications/telegram/comments.py
  notifications/telegram/posts.py
  notifications/telegram/test_notifications.py
  posts/models/linked.py
  posts/templatetags/battle.py
  posts/templatetags/posts.py
  posts/tests/test_linked_posts.py
  posts/tests/test_template_tags.py
  rooms/management/commands/bulk_chat_action.py
  rooms/tests/__init__.py
  rooms/tests/test_bulk_chat_action.py
Due: py-flake8

perf(people): replace in-memory aggregation with SQL queries (#1393)
  frontend/html/users/people.html
  tags/models.py
  users/tests/__init__.py
  users/tests/test_people.py
  users/views/people.py
Due: py-flake8

fix(security): enforce ban and membership checks on API endpoints
  authn/decorators/api.py
  authn/helpers.py
  authn/tests.py
Due: py-flake8

fix: replace deprecated .extra() with .annotate() in objects_for_user()
  comments/models.py
  frontend/html/comments/types/battle.html
  frontend/html/comments/types/bold.html
  frontend/html/comments/types/normal.html
  frontend/html/comments/types/reply.html
  frontend/html/posts/items/battle.html
  frontend/html/posts/items/event.html
  frontend/html/posts/items/idea.html
  frontend/html/posts/items/intro.html
  frontend/html/posts/items/link.html
  frontend/html/posts/items/post.html
  frontend/html/posts/items/project.html
  frontend/html/posts/items/question.html
  frontend/html/posts/show/battle.html
  frontend/html/posts/show/intro.html
  frontend/html/posts/show/post.html
  frontend/html/posts/show/question.html
  posts/models/post.py
  posts/models/views.py
  posts/models/votes.py
  posts/renderers.py
  posts/tests/test_objects_for_user.py
Due: py-flake8

perf(stats): eliminate N+1 queries in top_badges
  misc/tests/__init__.py
  misc/tests/test_stats.py
  misc/views.py
Due: py-flake8

fix(security): remove unsafe | safe filters on text fields, escape URL in CSS context
  common/markdown/club_renderer.py
  frontend/html/emails/custom_markdown.html
  frontend/html/message.html
  frontend/html/network/groups/block.html
  frontend/html/network/groups/other.html
  frontend/html/network/groups/services.html
  frontend/html/network/groups/top.html
  posts/templatetags/posts.py
Due: py-flake8

fix(security): remove unsafe | safe filters on text fields, escape URL in CSS context (#1396)
  common/markdown/club_renderer.py
  frontend/html/emails/custom_markdown.html
  frontend/html/message.html
  frontend/html/network/groups/block.html
  frontend/html/network/groups/other.html
  frontend/html/network/groups/services.html
  frontend/html/network/groups/top.html
  posts/templatetags/posts.py
Due: py-flake8

perf(stats): eliminate N+1 queries in top_badges (#1395)
  misc/tests/__init__.py
  misc/tests/test_stats.py
  misc/views.py
Due: py-flake8

fix: replace deprecated .extra() with .annotate() in objects_for_user() (#1394)
  comments/models.py
  frontend/html/comments/types/battle.html
  frontend/html/comments/types/bold.html
  frontend/html/comments/types/normal.html
  frontend/html/comments/types/reply.html
  frontend/html/posts/items/battle.html
  frontend/html/posts/items/event.html
  frontend/html/posts/items/idea.html
  frontend/html/posts/items/intro.html
  frontend/html/posts/items/link.html
  frontend/html/posts/items/post.html
  frontend/html/posts/items/project.html
  frontend/html/posts/items/question.html
  frontend/html/posts/show/battle.html
  frontend/html/posts/show/intro.html
  frontend/html/posts/show/post.html
  frontend/html/posts/show/question.html
  posts/models/post.py
  posts/models/views.py
  posts/models/votes.py
  posts/renderers.py
  posts/tests/test_objects_for_user.py
Due: py-flake8

fix(security): enforce ban and membership checks on API endpoints (#1390)
  authn/decorators/api.py
  authn/helpers.py
  authn/tests.py
Due: py-flake8

perf(models): cache club settings and room lists to reduce DB queries
  godmode/models.py
  godmode/tests/__init__.py
  godmode/tests/test_club_settings.py
  helpdeskbot/room.py
  posts/context_processors/feed.py
  posts/forms/compose.py
  posts/tests/test_context_processors.py
  rooms/models.py
Due: py-flake8

ci(infra): modernize GitHub Actions workflows for build, deploy and tests
  .github/workflows/check_build_and_run.yml
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
Due: yamllint

build(docker): ignore node_modules in all subdirectories
  .dockerignore
Due: none

build(docker): convert Dockerfile to multi-stage build and enhance build caching
  .dockerignore
  Dockerfile
Due: none

ci(tests): use Pipfile.lock to control setup-uv cache
  .github/workflows/tests.yml
Due: yamllint

build(infra): use COPY --link in Dockerfile to optimize multistage copies
  Dockerfile
Due: none

build(infra): switch Dockerfile to uv base images and uv toolchain
  Dockerfile
Due: none

build(infra): add multistage Dockerfile and enable production build arg in CI
  .github/workflows/deploy.yml
  Dockerfile
Due: yamllint

chore(infra): update dockerignore to exclude local artifacts and caches
  .dockerignore
Due: none

build(infra): use versioned base image for python builder
  Dockerfile
Due: none

perf(feed): remove caching of rooms context and simplify tests
  posts/context_processors/feed.py
  posts/tests/test_context_processors.py
Due: py-flake8

refactor(api): extract auth and serialization from @api decorator, fix auth bypass
  authn/decorators/api.py
  authn/models/openid.py
  authn/tests.py
  frontend/static/js/common/api.service.js
Due: py-flake8

fix(bot): replace inline close_old_connections() hacks with @ensure_fresh_db_connection decorator
  bot/decorators.py
  bot/handlers/comments.py
  bot/handlers/common.py
  bot/handlers/fun.py
  bot/handlers/llm.py
  bot/handlers/moderation.py
  bot/handlers/posts.py
  bot/handlers/test_llm.py
  bot/handlers/top.py
  bot/handlers/upvotes.py
  bot/test_integration.py
  helpdeskbot/handlers/question.py
Due: py-flake8

Removed excessive errors messages
  fun/antics.py
Due: py-flake8

build: multi-stage Dockerfile with uv, Docker layer cache and CI/CD modernization (#1387)
  .dockerignore
  .github/workflows/check_build_and_run.yml
  .github/workflows/deploy.yml
  .github/workflows/tests.yml
  Dockerfile
Due: yamllint

fix(build): remove --keep-outdated flag dropped in pipenv 2026.0.3
  Dockerfile
Due: none

fix(build): remove --keep-outdated flag dropped in pipenv 2026.0.3 (#1401)
  Dockerfile
Due: none

fix(build): fix deploy
  .github/workflows/deploy.yml
Due: yamllint

fix(infra): run cron container as root to fix permission issues
  docker-compose.production.yml
Due: yamllint

ci(infra): set app container user to root and remove cron override
  docker-compose.production.yml
Due: yamllint

Path conditions:
  yamllint: any of: .*\.(yaml|yml)$
  py-flake8: any of: .*\.py$
