Repository vas3k/vas3k.club: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, py-flake8

.pre-commit-config.yaml:

---
default_stages: [pre-commit, pre-push]
fail_fast: false

repos:
  - repo: local
    hooks:
      #
      # YAML
      - id: yamllint
        name: yamllint
        files: .*\.(yaml|yml)$
        entry: yamllint --config-file ./.yamllint
        language: system
        always_run: false
        pass_filenames: true

      #
      # Python
      - id: py-flake8
        name: py-flake8
        files: .*\.py$
        entry: flake8 --config setup.cfg
        language: system
        always_run: false
        pass_filenames: true

      #
      # POST-CHECKOUT
      # optional, need to be installed with: pre-commit install -t post-checkout
      - id: git-pull
        name: git pull
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && git pull --all || true'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

      - id: git-branch-delete-stale
        name: Delete stale committed branches
        # yamllint disable-line rule:line-length
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && (git fetch -p && git branch -vv | grep ":\ gone]" | awk "{ print \$1 }" | xargs git branch -D) || true' --
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

fix(infra): run cron container as root to fix permission issues (#1402)
  docker-compose.production.yml
Due: yamllint

fix(infra): create GDPR downloads dir with correct perms and raise queue timeout
  .github/workflows/deploy.yml
  club/settings.py
Due: yamllint, py-flake8

fix(infra): create GDPR downloads dir with correct perms and raise queue timeout (#1403)
  .github/workflows/deploy.yml
  club/settings.py
Due: yamllint, py-flake8

fix(notifications): add List-Unsubscribe header, harden email views
  club/urls.py
  notifications/email/sender.py
  notifications/management/commands/notify_expired_intros.py
  notifications/management/commands/send_weekly_digest.py
  notifications/views.py
  payments/management/commands/send_subscription_expired.py
Due: py-flake8

fix(notifications): add List-Unsubscribe header, harden email views (#1404)
  club/urls.py
  notifications/email/sender.py
  notifications/management/commands/notify_expired_intros.py
  notifications/management/commands/send_weekly_digest.py
  notifications/views.py
  payments/management/commands/send_subscription_expired.py
Due: py-flake8

perf(comments): optimize render_post query strategy
  comments/templatetags/comments.py
  posts/renderers.py
  posts/tests/test_renderers.py
Due: py-flake8

perf(comments): optimize render_post query strategy (#1407)
  comments/templatetags/comments.py
  posts/renderers.py
  posts/tests/test_renderers.py
Due: py-flake8

perf(comments): optimize comment tree building from O(n³) to O(n) and batch HTML cache
  comments/templatetags/comments.py
  comments/tests/test_template_tags.py
  posts/renderers.py
Due: py-flake8

perf(comments): optimize comment tree building from O(n³) to O(n) and batch HTML cache (#1406)
  comments/templatetags/comments.py
  comments/tests/test_template_tags.py
  posts/renderers.py
Due: py-flake8

fix(comments): add row locking to delete toggle, update search index
  comments/tests/test_comments.py
  comments/views.py
  notifications/views.py
Due: py-flake8

test(comments): expect 400 for unauthorized comment delete
  comments/tests/test_comments.py
Due: py-flake8

fix(bot): replace inline close_old_connections() hacks with @ensure_fresh_db_connection decorator
  bot/decorators.py
  bot/handlers/comments.py
  bot/handlers/common.py
  bot/handlers/fun.py
  bot/handlers/llm.py
  bot/handlers/moderation.py
  bot/handlers/posts.py
  bot/handlers/test_llm.py
  bot/handlers/top.py
  bot/handlers/upvotes.py
  bot/test_integration.py
  helpdeskbot/handlers/question.py
Due: py-flake8

fix(comments): preserve top-level comment order in comment_tree
  comments/templatetags/comments.py
  comments/tests/test_template_tags.py
Due: py-flake8

remove comment
  comments/templatetags/comments.py
Due: py-flake8

fix(comments): preserve top-level comment ordering in comment_tree (#1408)
  comments/templatetags/comments.py
  comments/tests/test_template_tags.py
Due: py-flake8

fix(comments): sort same-upvote comments newest first
  posts/renderers.py
  posts/tests/test_renderers.py
Due: py-flake8

test(comments): add sorting order test for equal-upvote comments
  posts/renderers.py
  posts/tests/test_renderers.py
Due: py-flake8

fix: draft notifications
  notifications/telegram/comments.py
Due: py-flake8

fix(bot): replace inline close_old_connections() hacks with @ensure_fresh_db_connection decorator (#1399)
  bot/decorators.py
  bot/handlers/comments.py
  bot/handlers/common.py
  bot/handlers/fun.py
  bot/handlers/llm.py
  bot/handlers/moderation.py
  bot/handlers/posts.py
  bot/handlers/test_llm.py
  bot/handlers/top.py
  bot/handlers/upvotes.py
  bot/test_integration.py
  helpdeskbot/handlers/question.py
Due: py-flake8

fix(comments): add row locking to delete toggle, update search index (#1405)
  comments/tests/test_comments.py
  comments/views.py
  notifications/views.py
Due: py-flake8

test(comments): add sorting order test for equal-upvote comments (#1409)
  posts/tests/test_renderers.py
Due: py-flake8

perf(comments): replace inline style toggling with CSS class for thread collapse
  frontend/static/css/components/comments.css
  frontend/static/js/App.js
  frontend/static/js/common/comments.js
  frontend/static/js/main.js
Due: none

perf(frontend): remove twemoji, optimize scroll and add test infrastructure
  .github/workflows/tests.yml
  .gitignore
  Makefile
  README.md
  docs/test.md
  frontend/babel.config.js
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/static/css/base.css
  frontend/static/js/App.js
  frontend/static/js/__tests__/stylizeExternalLinks.test.js
  frontend/static/js/__tests__/utils.test.js
  frontend/static/js/components/CommentScrollArrow.vue
Due: yamllint

test(frontend): add Vue component unit tests and jest/vue2-jest setup
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/static/js/__tests__/CommentScrollArrow.test.js
  frontend/static/js/__tests__/PostUpvote.test.js
  frontend/static/js/__tests__/Toggle.test.js
Due: none

ci(frontend): add workflow timeout and upload frontend coverage artifact
  .github/workflows/tests.yml
Due: yamllint

perf(frontend): remove twemoji, optimize scroll and add test infrastructure (#1412)
  .github/workflows/tests.yml
  .gitignore
  Makefile
  README.md
  docs/test.md
  frontend/babel.config.js
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/static/css/base.css
  frontend/static/js/App.js
  frontend/static/js/__tests__/CommentScrollArrow.test.js
  frontend/static/js/__tests__/PostUpvote.test.js
  frontend/static/js/__tests__/Toggle.test.js
  frontend/static/js/__tests__/stylizeExternalLinks.test.js
  frontend/static/js/__tests__/utils.test.js
  frontend/static/js/components/CommentScrollArrow.vue
Due: yamllint

perf(comments): replace inline style toggling with CSS class for thread collapse (#1410)
  frontend/static/css/components/comments.css
  frontend/static/js/App.js
  frontend/static/js/common/comments.js
  frontend/static/js/main.js
Due: none

perf(frontend): fix event handler leak and O(n*m) projection in PeopleMap
  frontend/static/js/__tests__/PeopleMap.test.js
  frontend/static/js/components/PeopleMap.vue
Due: none

refactor(frontend): replace magic cluster radius with named constants in PeopleMap
  frontend/static/js/components/PeopleMap.vue
Due: none

perf(frontend): fix event handler leak and O(n*m) projection in PeopleMap (#1413)
  frontend/static/js/__tests__/PeopleMap.test.js
  frontend/static/js/components/PeopleMap.vue
Due: none

refactor(comments): move rate limit check from template tag to view, add select_related
  comments/templatetags/comments.py
  comments/views.py
  frontend/html/comments/forms/battle.html
  frontend/html/comments/forms/comment.html
  posts/renderers.py
  posts/tests/test_renderers.py
Due: py-flake8

refactor(comments): add rate-limited CSS class and update tests
  frontend/html/comments/widgets/limit.html
  posts/tests/test_renderers.py
Due: py-flake8

chore: upgrade Node.js from 14 to 22 LTS
  .github/workflows/tests.yml
  Dockerfile
  docker-compose.yml
  docs/test.md
  frontend/babel.config.js
Due: yamllint

refactor(frontend): remove vue-mapbox-ho and $forceUpdate for Vue 3 readiness
  frontend/package-lock.json
  frontend/package.json
  frontend/static/js/__tests__/PeopleMap.test.js
  frontend/static/js/components/LocationSelect.vue
  frontend/static/js/components/PeopleMap.vue
  frontend/static/js/components/ThemeSwitcher.vue
  frontend/webpack.config.js
Due: none

perf(people): optimize map query from full model loading to values_list
  users/models/geo.py
  users/models/user.py
  users/templatetags/users.py
  users/views/people.py
Due: py-flake8

fix(users): treat 0.0 latitude/longitude as valid in geo_coordinates
  users/models/geo.py
Due: py-flake8

test(users): add unit tests for geo_coordinates and users_geo_json
  users/tests/test_geo.py
Due: py-flake8

perf(feed): eliminate double query evaluation for pinned post
  posts/tests/test_feed.py
  posts/views/feed.py
Due: py-flake8

perf(profile): use lightweight querysets for posts_total and comments_total
  users/tests/test_profile.py
  users/views/profile.py
Due: py-flake8

perf(people): optimize map query from full model loading to values_list (#1419)
  users/models/geo.py
  users/models/user.py
  users/templatetags/users.py
  users/tests/test_geo.py
  users/views/people.py
Due: py-flake8
