Repository vas3k/vas3k.club: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, py-flake8

yamllint:
  name: yamllint
  entry: yamllint --config-file ./.yamllint
  language: system
  always_run: false
  pass_filenames: true

py-flake8:
  name: py-flake8
  entry: flake8 --config setup.cfg
  language: system
  always_run: false
  pass_filenames: true

fix: md renderers init
  common/markdown/email_renderer.py
  common/markdown/plain_renderer.py
  common/markdown/telegram_renderer.py
Due: py-flake8

fix: moderation bug
  bot/handlers/moderation.py
Due: py-flake8

fix: moderation again
  bot/handlers/moderation.py
Due: py-flake8

feat: update network and stats design
  bot/handlers/moderation.py
  club/settings.py
  frontend/html/comments/types/battle.html
  frontend/html/network/groups/block.html
  frontend/html/network/groups/other.html
  frontend/html/network/groups/services.html
  frontend/html/network/groups/title.html
  frontend/html/network/groups/top.html
  frontend/html/network/network.html
  frontend/html/pages/network.html
  frontend/html/pages/stats.html
  frontend/html/posts/show/post.html
  frontend/html/users/intro.html
  frontend/html/users/profile/badges.html
  frontend/html/users/widgets/small.html
  frontend/html/users/widgets/tiny.html
  frontend/static/css/components.css
  frontend/static/css/components/network.css
  frontend/static/css/components/stats.css
  misc/migrations/0005_networkgroup_custom_template.py
  misc/models.py
  misc/views.py
  rooms/models.py
Due: py-flake8

fix: css
  frontend/html/network/groups/services.html
  frontend/static/css/components/network.css
Due: none

fix: css
  frontend/static/css/components/network.css
Due: none

fix: connection pooling bug in Django 5.1
  notifications/signals/comments.py
  notifications/signals/posts.py
Due: py-flake8

fix: ditch django signals completely, move to async tasks
  comments/views.py
  frontend/static/css/components/network.css
  notifications/apps.py
  notifications/signals/__init__.py
  notifications/signals/posts.py
  notifications/telegram/comments.py
  notifications/telegram/posts.py
  posts/views/posts.py
Due: py-flake8

fix: comment notifs in bot
  bot/handlers/comments.py
Due: py-flake8

fix: make pg pooling configurable
  club/settings.py
  docker-compose.production.yml
Due: yamllint, py-flake8

fix: show battle side in best comments
  notifications/telegram/templates/messages/best_comments.html
Due: none

fix: hide profile actions for non-auth people
  frontend/html/users/profile.html
Due: none

feat: clickers + md renderer update
  Pipfile
  Pipfile.lock
  clickers/__init__.py
  clickers/api.py
  clickers/apps.py
  clickers/migrations/0001_initial.py
  clickers/migrations/__init__.py
  clickers/models.py
  club/settings.py
  club/urls.py
  comments/templatetags/comments.py
  common/markdown/club_renderer.py
  common/markdown/common.py
  common/markdown/email_renderer.py
  common/markdown/markdown.py
  common/markdown/plain_renderer.py
  common/markdown/plugins/__init__.py
  common/markdown/plugins/clicker.py
  common/markdown/telegram_renderer.py
  frontend/static/css/components.css
  frontend/static/js/components/Clicker.vue
  frontend/static/js/main.js
  posts/templatetags/posts.py
Due: py-flake8

fix: oops spoilers
  club/urls.py
Due: py-flake8

fix: tg renderer
  common/markdown/telegram_renderer.py
  frontend/static/css/components.css
Due: py-flake8

fix: better clicker on mobile and unauthorized users
  frontend/static/css/components.css
  frontend/static/js/components/Clicker.vue
Due: none

fix: clicker styles
  frontend/static/css/components.css
  frontend/static/js/components/Clicker.vue
Due: none

fix: clicker ux
  clickers/models.py
  frontend/static/css/components.css
Due: py-flake8

fix: clickers css
  frontend/static/css/components.css
Due: none

fix: clicker green
  frontend/static/css/components.css
Due: none

fix: css
  frontend/static/css/components.css
Due: none

fix: tg markdown renderer
  common/markdown/telegram_renderer.py
Due: py-flake8

fix: css
  frontend/static/css/components.css
  frontend/static/css/components/network.css
Due: none

fix: disable pg pooling for queue and bots
  club/settings.py
  docker-compose.production.yml
Due: yamllint, py-flake8

fix: ehh compose
  docker-compose.production.yml
Due: yamllint

fix: replies via bot
  bot/handlers/comments.py
Due: py-flake8

fix: markdown embed parser bug
  common/markdown/club_renderer.py
  common/markdown/email_renderer.py
  frontend/static/css/components/network.css
Due: py-flake8

add google sense verification
  frontend/html/layout.html
Due: none

add google adsense
  frontend/html/layout.html
Due: none

feat: add ALLOWED_CSS_CLASSES_IN_MARKDOWN
  common/markdown/common.py
  frontend/static/css/base.css
Due: py-flake8

fix: youtube embeds in links
  common/markdown/club_renderer.py
Due: py-flake8

add weekly posts
  notifications/management/commands/send_best_comments.py
  posts/management/commands/create_weekly_digest_post.py
  users/management/commands/update_expires_membership.py
Due: py-flake8

fix create weekly digest post command
  posts/management/commands/create_weekly_digest_post.py
Due: py-flake8

update create weekly digest post
  posts/management/commands/create_weekly_digest_post.py
Due: py-flake8

fix None error
  posts/management/commands/create_weekly_digest_post.py
Due: py-flake8

add weekly digest post generation to cron
  etc/crontab
  posts/management/commands/create_weekly_digest_post.py
Due: py-flake8

Path conditions:
  yamllint: any of: .*\.(yaml|yml)$
  py-flake8: any of: .*\.py$
