Repository vas3k/vas3k.club: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, py-flake8

.pre-commit-config.yaml:

---
default_stages: [pre-commit, pre-push]
fail_fast: false

repos:
  - repo: local
    hooks:
      #
      # YAML
      - id: yamllint
        name: yamllint
        files: .*\.(yaml|yml)$
        entry: yamllint --config-file ./.yamllint
        language: system
        always_run: false
        pass_filenames: true

      #
      # Python
      - id: py-flake8
        name: py-flake8
        files: .*\.py$
        entry: flake8 --config setup.cfg
        language: system
        always_run: false
        pass_filenames: true

      #
      # POST-CHECKOUT
      # optional, need to be installed with: pre-commit install -t post-checkout
      - id: git-pull
        name: git pull
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && git pull --all || true'
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

      - id: git-branch-delete-stale
        name: Delete stale committed branches
        # yamllint disable-line rule:line-length
        entry: bash -c '[[ $(git branch --show-current) == "master" ]] && (git fetch -p && git branch -vv | grep ":\ gone]" | awk "{ print \$1 }" | xargs git branch -D) || true' --
        language: system
        stages: [post-checkout]
        always_run: true
        pass_filenames: false

fix: downgrade python-telegram-bot
  Pipfile
  Pipfile.lock
  club/settings.py
  helpdeskbot/config.py
Due: py-flake8

fix: exception on missing archive
  gdpr/archive.py
Due: py-flake8

infra: prettify docker-compose production
  docker-compose.production.yml
Due: yamllint

infra: use docker compose instead of docker-compose
  .github/workflows/deploy.yml
  CONTRIBUTING.md
  README.md
  docs/setup.md
Due: yamllint

fix: bump post on main when publish
  posts/models/post.py
Due: py-flake8

fix: more progressive bans
  README.md
  common/data/ban.py
Due: py-flake8

remove localstorage checks
  frontend/static/js/components/ThemeSwitcher.vue
Due: none

add narrow screen styles
  frontend/html/layout.html
  frontend/static/css/layout.css
  frontend/static/js/components/ThemeSwitcher.vue
Due: none

feat: delete user from chats on account deletion
  gdpr/forget.py
Due: py-flake8

feat: try banning-unbanning for kicking
  gdpr/forget.py
  rooms/helpers.py
  rooms/management/commands/bulk_chat_action.py
  users/helpers.py
  users/views/delete_account.py
Due: py-flake8

fix: django 5+ closes long-running db connections now =/
  bot/decorators.py
  bot/handlers/auth.py
  bot/handlers/common.py
  bot/handlers/moderation.py
  bot/handlers/whois.py
  users/helpers.py
Due: py-flake8

avoid flickering
  frontend/html/layout.html
  frontend/static/js/components/ThemeSwitcher.vue
Due: none

feat: added theme switcher with match-system option (#1273)
  frontend/html/layout.html
  frontend/static/css/layout.css
  frontend/static/js/App.js
  frontend/static/js/components/ThemeSwitcher.vue
  frontend/static/js/main.js
Due: none

feat: add is_moderation_approved to user model
  users/models/user.py
Due: py-flake8

feat: show profiles for non-approved users
  frontend/html/users/profile.html
  frontend/html/users/widgets/card.html
  users/views/profile.py
Due: py-flake8

feat: show profiles for non-approved users (#1285)
  frontend/html/users/profile.html
  frontend/html/users/widgets/card.html
  users/models/user.py
  users/views/profile.py
Due: py-flake8

fix: hotfix for PR #1285
  frontend/html/users/profile.html
Due: none

fix: hotfix for PR #1285 (#1287)
  frontend/html/users/profile.html
Due: none

feat: new feed orderings - top for a particular month or year
  club/settings.py
  club/urls.py
  frontend/html/feed.html
  frontend/static/css/components/feed.css
  helpdeskbot/handlers/answers.py
  posts/context_processors/feed.py
  posts/context_processors/rooms.py
  posts/helpers.py
  posts/views/feed.py
Due: py-flake8

feat: better year/month ordering design
  frontend/html/feed.html
  frontend/static/css/components/feed.css
  posts/context_processors/feed.py
Due: py-flake8

set real theme on the DOM
  frontend/html/layout.html
Due: none

fix: set real theme on the DOM (#1288)
  frontend/html/layout.html
Due: none

feat: post_of_month label and achievement
  common/data/achievements.py
  common/data/labels.py
  frontend/html/emails/achievement.html
  frontend/html/feed.html
  frontend/static/images/achievements/post_of_month.png
  notifications/signals/achievements.py
  posts/context_processors/feed.py
  posts/views/admin_actions.py
  users/migrations/0032_add_achievement_custom_message.py
  users/models/achievements.py
  users/views/admin_actions.py
Due: py-flake8

feat: update sidebar, add post_of_month label
  frontend/html/bookmarks.html
  frontend/html/feed.html
  frontend/html/layout_with_sidebar.html
  frontend/html/rooms/list_rooms.html
Due: none

feat: "thank you" button + bugfixes
  badges/migrations/0004_auto_20250216_1224.py
  badges/models.py
  badges/views.py
  bot/decorators.py
  bot/handlers/moderation.py
  common/url_metadata_parser.py
  frontend/html/badges/create.html
  frontend/html/badges/messages/success.html
  frontend/html/misc/badge_generator.html
  frontend/html/users/people.html
  frontend/html/users/profile.html
  frontend/html/users/widgets/card.html
  frontend/static/css/base.css
  frontend/static/css/components/profile.css
  frontend/static/images/badges/big/thanks.png
  frontend/static/images/badges/small/thanks.png
  frontend/static/js/components/FriendButton.vue
Due: py-flake8

feat: get friend api + better friend toggle
  club/urls.py
  frontend/html/users/widgets/card.html
  frontend/static/js/common/api.service.js
  frontend/static/js/components/CommentUpvote.vue
  frontend/static/js/components/FriendButton.vue
  frontend/static/js/components/PostBookmark.vue
  frontend/static/js/components/PostRSVP.vue
  frontend/static/js/components/PostUpvote.vue
  frontend/static/js/components/Toggle.vue
  frontend/static/js/components/UserTag.vue
  users/models/friends.py
  users/views/friends.py
  users/views/profile.py
Due: py-flake8

fix: align intros to the left
  frontend/static/css/components/feed.css
Due: none

fix: thank you badge
  Pipfile
  Pipfile.lock
  badges/models.py
  frontend/html/badges/create.html
  frontend/html/users/profile/badges.html
Due: py-flake8

fix: thank you badge message
  frontend/html/emails/badge.html
  notifications/telegram/templates/messages/badge.html
Due: none

fix: friends link
  users/views/friends.py
Due: py-flake8

fix: canceling incomplete subscriptions
  payments/views/stripe.py
Due: py-flake8

fix: use relativedelta for months top
  posts/context_processors/feed.py
Due: py-flake8

Fix typos in rejected email templates
  frontend/html/emails/rejected/general.html
Due: none

feat: show number of chat members
  etc/crontab
  frontend/html/pages/network.html
  frontend/html/rooms/list_rooms.html
  frontend/html/rooms/widgets/feed_header.html
  frontend/static/css/components/feed.css
  frontend/static/css/components/network.css
  rooms/management/commands/count_chat_members.py
  rooms/migrations/0005_room_chat_member_count.py
  rooms/models.py
Due: py-flake8

Технические гайды
  docs/install_checklist.md
  docs/tech_guide.md
Due: none

doc: technical guides (#1300)
  docs/install_checklist.md
  docs/tech_guide.md
Due: none

feat: improved ticket sales webhook
  club/settings.py
  club/urls.py
  common/data/achievements.py
  frontend/html/emails/camp_confirmation.html
  payments/views/camp.py
  tickets/__init__.py
  tickets/admin.py
  tickets/apps.py
  tickets/migrations/0001_initial.py
  tickets/migrations/__init__.py
  tickets/models.py
  tickets/views.py
Due: py-flake8

feat: separate stripe keys for tickets
  .github/workflows/deploy.yml
  payments/views/camp.py
  tickets/views.py
Due: yamllint, py-flake8

feat: more metadata for tickets
  common/data/achievements.py
  tickets/admin.py
  tickets/migrations/0002_ticket_tickets_sold_ticketsale_session.py
  tickets/models.py
  tickets/views.py
Due: py-flake8
